{% include '_header_home.twig' %}
    <section class="main-content">
        <a id="content" tabindex="0"></a>

        {% if record is defined %}
        {# make the 'home' variable refer to the current record, which is set by the
           user in config.yml #}
        {% set home = record %}
        <div class="inner-wrap">
            {% include '_sub_searchbox.twig' with { "class" : "search-home" } %}
            <section class="column site-introduction">
                <div>
                    <h1>{{ home.title }}</h1>
                    {% if home.teaser is defined and home.teaser is not empty %}
                        {{ home.teaser }}
                    {% endif %}
                    {% if home.body is defined and home.body is not empty %}
                        {{ home.body }}
                    {% endif %}
                </div>
            </section>
        </div>

        {% endif %}
    </section>
{% include '_footer.twig' %}