// containers with floating childs needs a clearfix in ie8 and zoom for ie7
// vanaf IE7 is minmaxwidthheight supported
// vanaf IE7 zijn css2.1 selectors supported als +, >, ~ attr[] etc.
// vanaf IE9 zijn css3 selectors :nth-child(), :last-child, :first-of-type, etc. supported

// $is-ie: true !default;

// @mixin ie($version) {
//   @if $is-ie {
//     @if $ie-version == $version {
//       @content;
//     }
//   }
// }
// @mixin ie-lte($version) {
//   @if $is-ie {
//     @if $ie-version <= $version {
//       @content;
//     }
//   }
// }

// /* Usage:
//    @include inline-block

//    or

//    @include inline-block("250px")

//    which gives a min-height to the inline-block elements.
// */

// @mixin inline-block($min-height: "") {
//   display: -moz-inline-stack;
//   display: inline-block;

//   @if $min-height != "" {
//     min-height: $min-height;
//   }

//   @include ie-lte(7) {
//     zoom: 1;
//     display: inline;
//   }
// }

// /* Contain floats usage:
//    .this-has-floated-children {
//      @extend %contain-floats;
//    }
// */

// %contain-floats {
//   &:after {
//     content: "";
//     display: block;
//     clear: both;
//   }
//   @include ie-lte(7) {
//     zoom: 1;
//   }
// }


#centerbox {
	width: 980px;
}


/* -----------------------------------
	AttentieItem small size
----------------------------------*/
#priority{
	> img {
		float:left; // prevent 4 px under image
	}

	a {
		img{ // higher specificity
			display: block;
			width:940px;
		}

		div{
			box-sizing:content-box;
			left: 0;
			background: url(shared-ro/images/bg-priotab.png);
			width:269px;
		}

		.prio-arrow{
			left: 30%;
		}
	}

	// centre
	a + a {
		div{
			left: 50%;
			margin-left: -151px;
		}

		.prio-arrow{
			left: 63.89%;
		}
	}

	a + a + a{
		div{
			right: 0;
			left:auto;
		}
		.prio-arrow{
			left: 97.78%;
		}
	}


	/* -----------------------------------
    	AttentieItem XL carrousel
   	----------------------------------*/

	&.carrousel{
		
		a div{ 
			left: 0;
			right: auto;
			box-sizing:content-box;
		}

	}

	/* -----------------------------------
    AttentieItem carrousel small size met javascript
   ----------------------------------*/
	.js &.carrousel{
		a div{
			width:269px;
		}
		// centre
		a + a  {
			div{
				left: 50%;
				margin-left:  -16.1565%;
			}
		}

		a + a + a {
			div{
				right: 0;
				left:auto;
			}
		}
	}
}

h3,
h2,
h1,
dl,
form,
form fieldset > div,
fieldset p,
fieldset .radio-subfields,
fieldset input,
#sitemap,
#mainbox,
#main,
#footer,
#footer ul,
#footer .three-columns,
#follow-up,
#content,
#centerbox,
#aside,
.ui-datepicker,
.ui-datepicker-trigger,
.ui-datepicker-trigger-period-to,
.ui-datepicker-trigger-period-from,
.two-columns,
.topics li,
.topics div,
.tabs,
.subtopics,
.sharing,
.publications li,
.period-to, 
.period-from,
.paging,
.index,
.header,
.gallery ul,
.gallery li,
.form .checklist label,
// .facets,
// .facets h2 a,
.facets-subset ul li,
//.facet-collapsed > div,
.field,
.departments li,
.common,
.common li,
.column,
.block.news,
.block.calendar p,
.block.calendar abbr,
.block.calendar .up-to,
.block,
.block-photo-gallery li a,
.article,
.actions,
.message.survey{
	zoom: 1;
}

.results a{
	float:none;
}

.facets-subset {
	zoom: 1;
	clear: left;
}

.js .facet-subset-toggle{
	float: none; //als float aan staat zorgt ervoor dat bij IE8 niet goed reageerd 
}


// correct for missing last child selector for block
// but what if there is no last block in content with a 40px margin-bottom?
#content {
	margin-bottom:-40px;
	width: 640px;
	box-sizing:content-box;
}

#aside .news div {
	float:none;
}

.article .block {
	margin-top: 0;
}
.article .block + .block{
	margin-top: 40px;
}
.leaderboard .article {
	box-sizing:content-box;
	width:620px;
}
.home #content{
	box-sizing:content-box;
	width:620px;
}
.home #aside{
	box-sizing:content-box;
	width:296px;
}

.js form .ui-datepicker-trigger{
	*top:-4px;
}

form table{
	min-width:none;
	width:100%;
}

// Geef vaste breedte op voor hoofdonderdelen van de layout.
#aside, .decorative{
	width: 220px;
	box-sizing:content-box;
}
.search .article {
	width: 700px;
}
// clear floats
.block-photo-gallery {
  overflow: visible;
}

//scrollcontainer shows vertical scrollbar when no scrolling is needed for only IE8
.scrollcontainer {
	overflow-y:hidden;
}

//set opacity triplets
.triplets .preview {
	filter: alpha(opacity=0);
}
// first image always opaque */
.triplets li:first-child .preview {
	filter: alpha(opacity=100);
}

.triplets li + li a:hover .preview{
	filter: alpha(opacity=100);
}

//IE8 has the lowest maximum data URI size of 32768 Bytes so use images instead.
#breadcrumb a + a {
	background: url(shared-ro/images/icon-arrow-breadcrumb.png) no-repeat 0% 55%;
}

.common li li a,
.topics li a,
.news .other a {
	background-image: url(shared-ro/images/arrow-small.png);
	background-repeat: no-repeat;
	background-position: 0 0.5em;
}
.index .column a{
	background-image: url(shared-ro/images/arrow-down.png);
	background-repeat: no-repeat;
	background-position: 0 .4em;
}
#search input[type=submit] {
	// vergrootglas
	background-image: url(shared-ro/images/sprite-icons-menu-search.png);
	background-repeat: no-repeat;
	background-position: 0 -100px;
}
.actions .common .next a {
	background-image: url(shared-ro/images/sprite-actions.png);
	background-position: 100% 0;
}

#aside, .decorative {
	width:220px;
}

//IE8 disappearing images bug - cannot use max-width: 100% and declare width 100%
.banner img{
	max-width:none;
	width: 220px;
}
.home .banner img {
	max-width:none;
	width: 284px; // Do scale on large layout to prevent too wide a banner from overflowing.
}



/* IE 7 FIXES */

// fixed width containers for IE7

.ie7 .search #content {
	width:700px;
}


.ie7 .header .search button,
.ie7 .choose-xl button  {
	overflow:visible;
	padding-bottom:4px;
	border:none;
}


// dont float anchors because IE7 wrapps the text when floating
.ie7 a.more{
	display:inline;
	float:none;
}

// departments block box-sizing fix
.ie7 .departments li h2,
.ie7 .departments li .visual {
	width:215px;
}

// follow-up block box-sizing fix
#follow-up .sharing .common li{
	width: 50%;
}
.ie7 #follow-up .sharing .common li{
	width: 140px;
}

//RO-3605 fieldset geen relative position alleen layout
.form fieldset{
	zoom:1;
}

// RO-3774 
.hint,
a.open,
a.close {
	zoom: 1;
}

//searchform smaller
.ie7 #search input[type=submit] {
	width: 64px;
}

.divider {
	line-height: 27px;
	vertical-align: top;
}

// Fix for display filterbox in IE, where period label would disappear.
.ie7 .form fieldset > div {
	padding: 0 0 5px 11em !important;
}

.ie7 .form fieldset > div.navigation,
.ie7 .form fieldset > div.error {
	padding-bottom: 0 !important;
}
.ie7 .form .facets-subset fieldset > div {
  padding-left: 0 !important; }

.ie7 .form fieldset > div.message,
.ie7 .form .facets-subset fieldset > div.message {
  padding-left: 30px !important;
  top: -1px;
  position: relative; }

.ie7 .international .spotlight.thumbnail{
	padding-left:0;
}
.ie7 .international .spotlight.thumbnail a {
	display: block;
	width: 170px;
	zoom: 1;
	float: none !important;
	clear: left;
}

#follow-up .block .sharing {
	width: 100%;
}
#follow-up .block .sharing li {
	width: 25%;
}

#follow-up .notifications ~ .sharing , #follow-up .block .notifications{
	width: 320px;
}
#follow-up .notifications ~ .sharing li {
	width: 50%;
}