@include respond-max($widthS){
//@media (max-width: 30em) {
	.block-photo-gallery li img {
		width: 100%; // set only for small devices or else use the width attribute
		height: auto;
	}
}

@include respond-min($widthXS) {
//@media (min-width: 22em) {

	#search input[type=submit] {
		padding: 4px 10px 4px 24px;
		background-position: 6px 50%;
	}
	
	#skip-to-menu {
		padding: 4px 10px 4px 24px;
	}
	
	input.date {
		width: 40%;
		margin-bottom: 0;
	}
}

/* -----------------------------------------------
   MEDIUM lAYOUT STEP ONE
   Tablet portrait
   Small laptops
   Big smartphones
   -----------------------------------------------*/
@include respond-min($widthM) {
//@media (min-width: 36em) {
	html,
	body {
		font-size: 12px;
	}
	#header{
		padding-top: 87px;
	}
	#logotype {
		top: 0;
	}
	#main {
		border-top: 10px solid #CCE0F1;
	}
	#payoff {
		display: block;
		width: 173px;
		height: 22px;
		top: auto;
		bottom: 0;
		left: 50%;
		margin: 0 0 0 -22px;
		padding: 0;
		border-left: 44px solid #154273;
		background: #FFF url(shared-ro/images/payoff.png) no-repeat 10px 0;
	}
	#search{
		height: 3.6em;
	}
	#search form {
		margin-top: 0.8em;
	}
	#skip-to-menu {
		top: 88px;
		left: 10px;
		padding: 4px 10px 4px 24px;
	}
	.overview #content {
		width: auto;
		padding-left: 10px;
	}

	.header {
		background: rgb(204, 224, 241);
		background: -webkit-linear-gradient(top, rgba(204, 224, 241, 1) 0%, rgba(229, 240, 249, 1) 100%);
		background: -o-linear-gradient(top, rgba(204, 224, 241, 1) 0%, rgba(229, 240, 249, 1) 100%);
		background: -ms-linear-gradient(top, rgba(204, 224, 241, 1) 0%, rgba(229, 240, 249, 1) 100%);
		background: linear-gradient(to bottom, rgba(204, 224, 241, 1) 0%, rgba(229, 240, 249, 1) 100%);
	}

	/* -----------------------------------------------
	   BLOCKS
	   -----------------------------------------------*/

	.block,
	 .notifications,
	 .sharing {
		margin: 0 0 40px;
	}
	.article {
		margin-bottom: 40px;
	}
	.article .docs-pubs,
	.article .faqs,
	.article p + .block,
	.article ul + .block {
		margin-top: 40px;
		clear: left;
	}
	.leaderboard {
		margin: 40px 0 0;
	}


	/* -----------------------------------------------
	   WAYFINDER SPECIFICS
	   -----------------------------------------------*/

	.article .wayfinder {
		margin-top: 20px;
		margin-bottom: 30px;
	}


	/* ---------------------
	   GRID COLUMNS
	   ------------------------*/

	.two-columns,
	.three-columns,
	 .news .regulars,
	.leaderboard .news,
	 .faqs .common,
	 #follow-up .block,
	 #navigation ul,
	 .gallery ul { 
		margin-left: -20px;
		margin-right: 0;
	}
	#aside {
		margin-left: -10px;
	}
	.search #aside {
		margin-left: 10px;
	}

	.two-columns .column,
	#follow-up .notifications,
	#follow-up .sharing,
	.news div > div,
	.article .faqs li,
	#aside > .block,
	#navigation li,
	.people li,
	.gallery li,
	.banner {
		display: block;
		width: 50%;
		clear: none;
		float: left;
		margin-left: 0;
		margin-right: 0;
	}

	.column li,
	.column dl,
	#main .two-columns h2,
	#aside .news div,
	#aside .news .more,
	#aside .other-news .more,
	#aside .faqs .more,
	#follow-up h2,
	.article .news div a,
	.news .other ul,
	#aside .block h2,
	.leaderboard .news h2,
	#aside .block ul,
	#follow-up ul,
	.two-columns > p,
	.two-columns > a,
	.gallery li a,
	.overview .calendar,
	.home .topics .topic,
	.banner a,
	.article .faqs a,
	.spotlight a,
	.column > p{
		margin-left: 20px;
	}

	.article .faqs a.more,
	.article .spotlight div a {
		margin-left: 0;
	}

	#sitemap h2 {
		margin: 1.2em 0;
	}


	/* Sitemap is special case */
	.sitemap {
		padding: 0;
	}
	.sitemap .column h2,
	.sitemap .column p {
		margin-left: 20px;
		padding-right: 10px;
	}
	.sitemap .column h2 {
		margin-top: 2.4em;
	}

	/* Specific formatting for sharing block */
	#follow-up .sharing .common,
	#aside .spotlight.thumbnail a {
		margin-left: 0;
	}
	#aside .thumbnail > a.more {
		margin-left: 20px;
	}

	#follow-up .sharing .common li {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		width: 50%;
		padding-left: 20px;
	}

	#aside .block+.block:nth-of-type(2n+1),
	#aside .block+.banner:nth-of-type(2n+1),
	.people li:nth-child(odd) {
		clear: left;
	}
	#aside .block:last-of-type:nth-of-type(2n+1) {
		width: 100%;
	}

	// Reset top margin for two-column lay!
	.common + .common, .article .common + .common {
		margin-top: 0;
	}

	.common li:last-child {
		margin-bottom: 0;
	}

	// Corrigeer margin op volgende link in paginering actions */	
	.actions .common .next a {
		margin-top: 0; // groter dan mobile
	}

	/* -----------------------------------------------
	  TABEL
	   -----------------------------------------------*/
	.scrollcontainer {
		table {
			margin-left:0;
		}
		
		font-size: 1.0em;
	}

	table {
		width: auto;
		margin: 0 0 20px -10px;
	}

	td,
	th {
		padding: 0.6em 5px 0.6em;
		line-height: 1.5;
	}
	td:first-child,
	th:first-child {
		padding-left: 10px;
	}

	// if I have the first child within  a rowspanned colomn then I need extra class and use the default padding for all td's
	td.no-indent:first-child{
		padding-left: 5px;
	}

	form table{
		margin-left: 0; //form heeft al -20px;

		// issues RO 4988 uitlijnen button voor tabellen. 
		& + fieldset.navigation{
			padding-left:0;

			div {
				padding-left:25%; // same a table tbody th
			}
		}
	}

	table tbody th {
		width: 25%;
	}
	table th.col-wide {
		width: 40%;
	}

	
	/* -----------------------------------
		IMAGES
	   ----------------------------------*/

	.article .content-image-left {
	  float: left;
	  margin-right:20px;
	  
		img {
			width:auto;
		}
	}

	/* -----------------------------------
	   OVERRIDE MOBILE FOLDED BLOCKS
	   ----------------------------------*/
	.subtopics.hide,
	#sitemap .hide {
		height: auto;
		overflow: visible;
	}
	#sitemap .two-columns.hide {
		padding-bottom: 20px;
	}

	.js .topic h2,
	.js .topic h2.active,
	.js #sitemap h2,
	.js #sitemap h2.active {
		padding-right: 0;
		background-image: none;
		cursor: default;
	}



	/* -----------------------------------------------
	   ALPHABETICAL OR THEMATICAL INDEX OF TOPICS
	   -----------------------------------------------*/
	.index {
		display: block;
		margin: 10px 0 0 -10px;
		padding: 10px 0 10px 10px;
	}

	.index .column {
		width: 50%;
		float: left;
	}
	.subtopics {
		position: relative;
		padding-left: 20px;
	}

	.subtopics .column li {
		margin-left: 0;
	}
	.topic {
		padding: 10px 0;
	}
	// when empty h2 is direct else inside topic
	.topics {
		& > h2, & > p{margin-left:0;}
	}

	.topic h2,
	.topics h3 {
		margin: 0.6em 0;
		font-size: 1.75em;
	}
	.topics.alphabetical h2,
	.topics.alphabetical h3 {
		height: 1.1em;
		margin: 0 0 -1em 0;
		padding: 0;
		background-color: transparent;
		color: #98BAD9;
		font-size: 7.33em;
		line-height: 1.19;
	}

	.topics.alphabetical .subtopics {
		min-height: 80px;
	}

	.topics.alphabetical .subtopics h2 {
		height: auto;
		margin-bottom: 0;
	}

	.topics.alphabetical .column h3 {
		margin-left: 20px;
	}

	.topics.alphabetical ul {
		position: relative;
		z-index: 20;
		min-height: 6em;
	}

	.topics.alphabetical .subtopics ul {
		min-height: 0;
	}

	.topics.alphabetical li {
		border-bottom: 0;
		padding-left: 25%;
		background-image: none;
	}

	.topics li a {
		display: inline-block;
		padding: 0 0 0 18px;
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAMAAAACh/xsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAZQTFRFFUJz0NDAOhAcIwAAAAJ0Uk5T/wDltzBKAAAAHUlEQVR42mJg BAIGKAaTEAaQYoADuAiKGhABEGAABXMAK0OFNgoAAAAASUVORK5CYII=') no-repeat 0 0.65em;
		font-size: 1em;
		line-height: 1.8;
	}

	.home .topics .topic {
		margin-right: 0;
		padding: 10px 0 2px; // background-color: transparent; */
	}

	.topics .toplink,
	.topics .toplink:visited {
		display: block;
		top: auto;
		bottom: -4.7em; // position toplink next to header of following topic block */
		right: 20px;
		z-index: 100;
		margin: 0;
		font-size: 0.9167em;
	}

	.topics .topic:last-child .toplink{
		bottom: auto;
		top: -1000000px; // And last toplink is set out of canvas bounds. */
	}

	.topics.thematic .subtopics .more {
		display: none; // Do not display morelink for bigger views, as link in heading is active here */
	}


	/* -----------------------------------------------
	   BLOCK: TOPICS SELECTION FORM
	   -----------------------------------------------*/
	.topics.form {
		margin: 0 0 40px -20px;
		padding-left: 20px;
	}

	.topics.form fieldset.topic {
		border-bottom: 0;
	}

	.topics.form .subtopics,
	.topics.form fieldset.navigation {
		padding-left: 20px;
	}

	.topics.form .topic h2 {
		margin: 40px 0 0;
		color: #98BAD9;
		color: #287DAB; // Blauw lichter dan #01689B, YYNY compliant */
		color: #4e92bb; // In between */
		font: bold 1.5em/1.2 arial,helvetica,geneva,sans-serif;
	}

	.topics.form .topic input.show-topics {
		float: right;
		margin-right: 0;
	}

	/* --------------------------
	   SEARCH RESULTS MESSAGE
	   -------------------------*/

	.topics .results-message{
		padding-left:0;
	}


	/* -----------------------------------------------
	   UNDO MOBILE STRAPPED PAGING & SITEMAP
	   -----------------------------------------------*/
	.paging a,
	.paging span {
		position: static;
		top: auto;
	}

	.js #sitemap h2 a {
		color: #000;
		text-decoration: underline;
	}
	.js .thematic h2 a {
		color: $primarylinkcolor;
		text-decoration: underline;
	}

	.js #sitemap h2 a:hover,
	.js #sitemap h2 a:focus,
	.js .thematic h2 a:hover,
	.js .thematic h2 a:focus {
		color: $secondarylinkcolor;
		text-decoration: underline;
	}

	/* -----------------------------------------------
	   RESET MARGIN FOR PAGING WEBLOG/CALENDAR ITEM
	   -----------------------------------------------*/
	.actions .common .next a {
		margin-top: 0; // groter dan mobile
	}

	/* -----------------------------------------------
	   BIG SEARCH BOX: SEARCH, TOPICS, HOMEPAGE
	   -----------------------------------------------*/
	.header .search p,
	.choose-xl p {
		margin-bottom: 2em;
	}
	.choose-xl p {
		margin-top: 0.5em;
	}
	.header .search input,
	.choose-xl input {
		width: 16em;
		float: left;
		border-right: 0;
	}
	.choose-xl input {
		width: 20em;
	}
	.header .search button,
	.choose-xl button {
		width: auto;
		margin-right:20px;
	}
	.header .search a {
		padding-top: 2px;
	}


	/* -----------------------------------------------
	   FAQS
	   -----------------------------------------------*/

	.faqs.answers li + li + li {
		clear: left;
	}
	.faqs.answers li + li + li + li {
		clear: none;
	}

	.article .faqs.overview {
		margin-bottom: 20px;
	}

	.article .faqs.long li,
	.article .faqs.overview li {
		width: 100%;
	}


	/* -------------------------
	   NEWS HEADLINE
	   ------------------------*/
	.leaderboard .news .headline {
		width: auto;
		margin: 0 0 30px;
	}
	.article .news .headline {
		width: 100%;
		float: left;
		clear: left;
		margin: 0 0 30px 0;
	}
	.article .news .headline a,
	.leaderboard .news .headline a {
		margin-left: 0;
		padding: 0 10px;
	}
	.article .news .headline .visual a,
	.leaderboard .news .headline .visual a {
		padding-left: 0;
	}
	.leaderboard .article {
		padding-top: 0;
		margin: 0 0 0 20px;
	}
	.leaderboard .other {
		width: auto;
	}
	.news .headline div {
		width: 50%;
		float: left;
		margin: 0;
		padding: 0;
	}

	#aside .news .headline {
		margin-left: 0;
		margin-right: 0;
		background-color: transparent;
	}

	#aside .news .headline div {
		width: auto;
		margin-right: 0;
	}

	#aside .news .headline h3 {
		font: 1.083em/1.5 Verdana, Geneva, sans-serif;
	}

	.news .regulars .odd {
		clear:left;
	}

	/* --------------------------
	TABBED NAVIGATION
	-------------------------*/
	.tabs {
		margin-left: 0;
	}

	.tabs li {
		float: left;
		border-top: 0;
	}

	.tabs a,
	 .tabs strong {
		display: block;
		padding: 0.3em 10px;
		text-decoration: none;
		font-size: 1.15em; // adjust to fit all tabs in canvas width */
	}

	.tabs .selected a,
	 .tabs .selected strong,
	 .tabs .selected a:hover,
	 .tabs .selected a:visited:hover,
	 .tabs .selected a:focus,
	 .tabs .selected a:visited:focus {
		background-color: #FFF;
		color: #000;
		font-weight: bold;
	}


	/* --------------------------
	   FOOTER NAVIGATION
	   -------------------------*/ 

	/* GRID */
	#footer {
		padding:0 20px 20px;
	}

	#footer .column {
		clear: none;
		float: left;
		margin-left: 2.2727%;
		width: 31.8181%;
		display: block;
	}

	#footer .column:first-child {
		clear: both;
		float: left;
		margin-left: 0;
	}

	#footer li {
		display: block;
		float: left;
		margin-left: 0;
		margin-right: 0;
		width:100%;
	}

	#footer .column h2,
	 #footer .column ul {
		margin-left: 0px;
	}


	/* -----------------------------------------------
		CALENDAR BLOCK
	   -----------------------------------------------*/

	.calendar .date {
		font-size: 1.8333em;
	}

	.calendar .time {
		font-size: 1.5em;
	}

	.calendar abbr {
		font-size: 0.5455em;
	}
	 .calendar .up-to {
		font-size: 1em;
	}	

	/* -----------------------------------
	   FOLLOW UP HALF WIDTH CONTAINER
	   -----------------------------------*/
	/* sharing en notifications */
	#follow-up .block > div {
		width: 50%;
	}
	/* laatste oneven block */
	#follow-up .block > :nth-of-type(2n+1):last-of-type {
		width: 100%;
	}
	/* list items inside full with deel deze pagina */
	#follow-up .block > .sharing:nth-of-type(2n+1):last-of-type li {
		width: 25%;
	}

	/* -----------------------------------
		Spotlight.thumbnail two columns
	   ----------------------------------*/
	.spotlight.thumbnail li a {
		margin-left: 0;
		background: none;
	}

	.article .spotlight.thumbnail li{
		display: block;
		margin: 0;
		margin-right: 0;
		background: none;
	}

	.article .spotlight.thumbnail .two-column li{
		width: 50%;
		clear: none;
		float: left;
	}

	/* --------------------------
	   FORM ELEMENTS
	   -------------------------*/ 

	fieldset div {
		padding-left: 11em;
	}

	fieldset .message {
		margin-left: 11em;
		margin-bottom: 1em;
	}

	.fancy .hint {
		overflow: visible;
	}

	label {
		width: 10.5em;
		float: left;
		position: relative;
		top: 0.25em;
		left: -11em; // -10 / 1.083 fontsize
		margin: 0 -11em 0 0;
		font-size: 1em;
	}

	input,
	select,
	textarea,
	button {
		line-height: normal;
		font-size: 1em;
	}

	.checklist, .optionlist {
		padding-left:20px;
		
		label {
			float: none;
			position: static;
			width: auto;
			margin: 0.8em 0 0;
		}

		&:first-child label{
			margin-top: 0;
		}

		.subchecklist {
			padding: 0.8em 10px 0.4em;

			div.field{
				margin-left: 0;
				padding-right: 0;
			}

			span {
				padding-left: 3px;
			}
		}
	}

	label.radio {
		margin: 0 0 0.8em;
		position: relative;
		width: auto;
		float: none;
		padding-top: 0.25em;
		left: 0;
		top: 0;

		input[type="checkbox"] {
			top: 4px;
			left: 3px;
		}

		input[type="radio"]{
			left:3px;
		}
	}

	select + label.inline-label, input + label.inline-label {
		margin-left:20px;
	}

	label.inline-label-second{
		float:left;
		width: auto;
		position:static;
		padding-top: 0.25em;
	}

	.radio-subfields {
		
		fieldset, .field { 
			padding-left: 11em;
		}
	}

	span.radio-subfields {
		margin:0;
		//padding-top: 0.25rem;
		
		label{ // voorheen inline-label second gewoon inline
			padding-top: 0.25em;
			margin: 0;
		}
	}

	form a.open,
	form a.close {
		padding: 0.3em 12px;
	}

	/* -----------------------------------
	    aside spotlight
	   ----------------------------------*/
	#aside .spotlight a{
		float:left;
	}
	#aside .spotlight .common {
		float:left;
	}

	/* --------------------------
	   DATEPICKER
	   -------------------------*/ 

	.js input.date {
		width: 32%;
		max-width: 10em;
		padding-right: 8%;
	}

	.js form .ui-datepicker-trigger {
		display: inline-block;
		width: 19px;
		height: 20px;
		position: relative;
		top: 4px;
		left: -30px;
		margin-right: -19px;
		border: 0;
		padding: 0;
		background: url(shared-ro/images/icon-calendar.png) no-repeat;
	}

	.js .ui-datepicker {
		display: none;
		margin-right: -60px;
		padding: 0 60px 0 0;
		overflow: visible;
	}

	.js .ui-datepicker div {
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	.js .ui-datepicker .ui-datepicker-header {
		padding: 0;
		overflow: visible;
		// background: url(shared-ro/images/arrow-datepicker.png) repeat-x 0 0;
		background-color:$darkermainbackground;
		position:relative;
	}
	.js .ui-datepicker .ui-datepicker-header:before {
		content: "";
		width: 0;
		height: 0;
		border: 8px solid transparent;
		border-bottom-color:$darkermainbackground;
		position: absolute;
		top: -16px;
		left: 10px;
	}

	.js .ui-datepicker-buttonpane {
		position: static;
	}

	.js .ui-datepicker .ui-datepicker-header-period-to:before {
		left: 16em;
	}

	.js .form table.ui-datepicker-calendar {
		width: 100%;
		margin: 0 0 1em;
	}

	.js .ui-datepicker-calendar {
		margin: 0 0 1em;
	}

	.js .ui-datepicker-calendar th {
		width: auto;
		border-right: 0;
		border-left: 0;
		background-color: $mainbackgroundcolor; 
		// #E5F0F9; zelfde als achtergrond van container over de image met driehoek
		font-weight: bold;
		font-size: 0.9167em;
		text-align: center;
		padding: 0;
	}

	.js .ui-datepicker-calendar th span {
		display: block;
		padding: 0.7em .4em .4em;
	}

	.js .ui-datepicker-calendar tbody td {
		// background-color: #E5F0F9;
		border-right: 0;
		border-left: 0;
		text-align: center;
		padding: 0;
	}

	.js .ui-datepicker-calendar a {
		color: #000;
		text-decoration: none;
		padding: 0.2em 0.4em 0.3em;
		display: block;
		border: 2px solid $mainbackgroundcolor;
	}

	.js .ui-datepicker-calendar .ui-datepicker-week-col {
		color: #01689B;
		font-style: italic;
		padding: 0.7em 0.7em 0;
		font-size: 0.75em;
		width: 55px;
		text-align: left;
	}

	.js .ui-datepicker-other-month a {
		color: #4E4E4E;
	}

	.js .ui-datepicker-prev,
	.js .ui-datepicker-next,
	.js .ui-datepicker-prev-yr,
	.js .ui-datepicker-next-yr {
		margin: 0.3em 12px 0;
		padding: 0;
		background-image: none;
		letter-spacing: -0.2em;
		font-weight: bold;
		cursor: pointer;
	}

	.js .ui-datepicker-prev,
	.js .ui-datepicker-prev-yr {
		float: left;
	}

	.js .ui-datepicker-next,
	.js .ui-datepicker-next-yr {
		float: right;
	}

	.js .ui-datepicker-next-yr {
		margin-right: 60px;
	}

	.js .ui-datepicker-current {
		display: none;
	}

	.js  .ui-datepicker .ui-datepicker-close {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0.18em 14px 0.36em;
		background-color: $portalcolor;
		background-image: none;
		font-size: 1.083em;
		line-height: 1.6;
		text-align: center;
		cursor: pointer;
	}

	.js .ui-datepicker-close,
	.js .ui-datepicker-close:hover,
	.js .ui-datepicker-close:focus {
		color: #FFF;
	}

	.js .ui-datepicker .ui-datepicker-title {
		text-align: center;
		font-weight: bold;
		padding: 0.4em 0;
		letter-spacing: -0.05em;
	}

	.js .ui-datepicker-calendar .ui-datepicker-current-day {
		font-weight: bold;
		background-color: $darkermainbackground;
	}

	.js .ui-datepicker-calendar .ui-datepicker-current-day a {
		border: 2px solid $darkermainbackground;
	}

	.js .ui-datepicker-calendar .ui-datepicker-days-cell-over a,
	.js .ui-datepicker-calendar .ui-state-hover {
		border: 2px solid $darkermainbackground;
		display: block;
	}


	/* -----------------------------------------------
		BLOCK: TRAVEL ADVICE
	   -----------------------------------------------*/

	.travel-safety{
		margin-bottom: 30px;
	}
	.travel-safety p.travel-advice{
		margin-left: -20px;
		padding: 20px;
	}


	/* -----------------------------------------------
		BLOCK: LEGISLATION PHASES
	   -----------------------------------------------*/
	.js .legislation ul.phase {
		display: block;
		height: 6.5em;
		position: relative;
		margin: 0 0 0 30px;
		padding: 5px 0;
	}
	.js .legislation p.phase {
		display: none;
	}

	.js .legislation.details ul.phase {
		margin-left: 0;
	}

	.js .phase li {
		float: left;
		margin: 0 0 0 -7px;
		padding: 0;
	}

	.js .phase .phase-active-first,
	 .js .phase .phase-complete-first {
		margin-left: 0;
	}

	.js .phase li a {
		display: block;
		width: 70px;
		height: 18px;
		padding: 7px 0 0;
		border-bottom: 2px solid #FFFFFF;
		background-image: url(shared-ro/images/sprite-process-indicator.png);
		background-repeat: no-repeat;
		background-position: 0 -2px;
		color: #000000;
		line-height: 1;
		text-align: center;
		text-decoration: none;
		cursor: help;
	}

	.js .phase .phase-active a,
	 .js .phase .phase-active-first a,
	 .js .phase .phase-highlight a {
		font-weight: bold;
	}

	.js .phase .phase-highlight a {
		padding: 7px 0 2px;
		border: 0;
	}

	.js .phase .phase-active a {
		width: 121px;
		background-position: -800px -2px;
		cursor: default;
	}

	.js .phase .phase-active-first a {
		width: 121px;
		background-color: #F1CE34;
		background-image: none;
		cursor: default;
	}

	.js .phase .phase-complete a {
		background-position: -400px -2px;
	}

	.js .phase .phase-complete-first a {
		margin-left: 0;
		background-color: #F9F1C6;
		background-image: none;
	}

	.js .phase li p {
		width: 416px;
		position: absolute;
		top: 32px;
		left: 0;
		z-index: 100;
		padding: 4px 10px;
		background-color: #F5F5F5;
		font-size: 90%;
		line-height: 1.64;
		visibility: hidden;
	}

	.js .phase .phase-active p,
	 .js .phase .phase-active-first p {
		background-color: #F1CE34;
		z-index: 110;
		visibility: visible;
	}

	.js .phase .phase-complete p,
	 .js .phase .phase-complete-first p {
		background-color: #F9F1C6;
	}


	/* -----------------------------------------------
		BLOCK LIST OF DEPARTMENTS
	   List of all ministries (departments)
	   of the Dutch government.
	   -----------------------------------------------*/

	.departments {
		padding: 40px 20px 0 0;
	}

	#main .departments .column h2 {
		margin: 0;
		padding: 0 0 0 10px;
		font-size: 1.5em;
	}


	/* -----------------------------------------------
		TRIPLETS block
	   -----------------------------------------------*/

	.triplets ul {
		min-height: 242px;
		background-color: $mainbackgroundcolor;
		margin: 0 0 0 -20px;
	}

	.triplets a {
		position: static;
		padding: 12px 256px 16px 20px;
		margin-bottom: 0;
		min-height: 0;
		background-color: transparent;
	}

	.triplets li:first-child a {
		background-color: $darkermainbackground; // #cce0f1; */
	}// start first child active */

	.triplets a:hover {
		color: #035ec2;
		text-decoration: underline;
		background-color: $darkermainbackground; // #cce0f1; */
	}

	// when hover over other list items make first transparent non-js for modern and with js for modern and legacy*/
	// .triplets ul:hover li:first-child a:not(:hover){
	// 	background-color: transparent;
	// }
	.triplets ul:hover li:first-child a {
		background-color: transparent;
	}
	.triplets ul:hover li:first-child a:hover {
		background-color: $darkermainbackground; // #cce0f1; */
	}

	.triplets a:hover p,
	 .triplets a:focus p {
		color: #035EC2; // #0162CD Corrected for contrast */
		text-decoration: underline;
	}

	.triplets a p {
		float: none;
		width: auto;
		margin: 0;
		padding: 0;
		line-height: 1.8;
	}

	.triplets .preview {
		width: 242px;
		left: auto;
		right: 0;
		opacity: 0;
		transition: opacity .5s ease-in-out;
		-moz-transition: opacity .5s ease-in-out;
		-webkit-transition: opacity .5s ease-in-out;
	}

	// first image always opaque */

	.triplets li:first-child .preview {
		opacity: 1;
	}

	// other opaque only when hover */

	//.triplets li:not(first-child) a:hover .preview {
	.triplets li + li a:hover .preview{
		opacity: 1;
	}


	/* -----------------------------------------------
		PHOTO GALLERY
	   -----------------------------------------------*/
	.block-photo-gallery {
		margin-bottom:0; // margin zit al in de floating li items
	}
	
	.block-photo-gallery li {
		width: 25%;
		height: 132px;
		overflow: hidden;
		position: relative;
	}

	.block-photo-gallery li:nth-child(odd) {
		clear: none;
	}
	.block-photo-gallery li:nth-child(4n+1) {
		clear: left;
	}

	.block-photo-gallery li a:first-child {
		line-height: 128px;
		padding: 0 5px;
		text-align: center;
	}

	.block-photo-gallery li img {
		vertical-align: middle;
	}

	.block-photo-gallery .caption {
		position: absolute;
		padding: 5px;
		font-size: 0.9167em;
	}


	/* -----------------------------------------------
	   SWIPEBOX lightbox voor smartphone en desktop
	   -----------------------------------------------*/
	#swipebox-overlay {
		background: #F3F5F6;
		background-color: rgba(243,245,246,0.9);
	}
	#swipebox-slider .slide {
		background: url(shared-ro/images/swipebox-loader-light.gif) no-repeat center center;
	}
	#swipebox-action,
	#swipebox-caption {
		background-color: #E5F0F9;
		color: #000;
		opacity: 1;
	}
	#swipebox-caption {
		padding-right: 24em;
		border-top: 3px solid #4E4E4E;
		background-color: #F3F5F6;
	}
	#swipebox-caption p.hres {
		position: absolute;
		right: 20px;
		top: 10px;
	}
	#swipebox-caption p.meta {
		color: #4E4E4E;
	}
	#swipebox-caption p.hres a {
		color: #154273;
	}
	#swipebox-caption p.hres a:focus,
	#swipebox-caption p.hres a:hover {
		color: #0162CD;
	}
	#swipebox-action a {
		color: #000;
	}
	#swipebox-prev,
	#swipebox-next,
	#swipebox-close {
		bottom: auto;
		top: 0;
	}
	#swipebox-prev {
		left: 20px;
	}

	#swipebox-next {
		right: 20px;
	}

	/* -----------------------------------
	AttentieItem small size
	----------------------------------*/
	#priority{
		position: relative;
		margin: 20px 10px 0; // corrigeer voor laatst images bottom border
		overflow: hidden;
		

		// positie van overlay over de image omhoog
		
		h2{ 
			position: absolute;
			top: -100000px;
			// alst tekst getoond moet worden
			// top: 30px;
			// left: 30px;
			// font: normal 3rem/1 Georgia, "Times New Roman", Times, serif;
			// color: 
			// white;
			// text-shadow: 
			// black 1px 1px 1px;
			// z-index: 200;
			// width: 60%;
		}

		img {
			width:940px;
			margin-bottom:0;
			display:block;
			// center image
			position:relative;
			//left: 50%;
			//margin-left:-470px; tijdelijk links uitlijnen
			left: 0;
			margin-left: 0;
			height:244px;
		}

		a {
			div {
				width: 32.2033%;
				position: absolute;
				bottom: 0;
				padding: 10px 24px 10px 10px;
				background: #fff;
				opacity: .8;
				cursor: pointer;
				z-index: 100;
				 -moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-ms-box-sizing: border-box;
				box-sizing: border-box;
			}
			img, & + a img, .prio-arrow  {
				display: block;
			}
			&:nth-of-type(1) {
				img{ // higher specificity
					display: block;
					width:940px;
				}
				div{
					left: 0;
				}
				.prio-arrow{
					left: 28.6%;
				}
			}
			// centre
			&:nth-of-type(2) {
				div{
					left: 50%;
					margin-left:  -16.1565%;
				}

				.prio-arrow{
					left: 62.75%;
				}
			}

			&:nth-of-type(3) {
				div{
					right: 0;
					left:auto;
				}
				.prio-arrow{
					left: 96.3%;
				}
			}

		}


		h3 {
			color: #154273;
			margin: 0 0 0.2em;
			padding-left: 30px;
			background: url(shared-ro/images/sprite-icons-xl-1.1.png) no-repeat -240px 0;
			font: normal 1.25em/1.2 arial,helvetica,univers,sans-serif; //15px
			display:block;
		}

		p {
			margin: 0;
			padding:0;
			color: #000;
			line-height: 1.5;
			font-size: 0.91666em; // 11px
			display:block;
		}


	/* -----------------------------------
		AttentieItem small size met javascript
	----------------------------------*/
		.js &{

			h3 {
				background-image: none;
				padding-left: 0;
			}

			p {
				
			}

			.prio-arrow {
				display: block;
				width: 24px;
				height: 24px;
				position: absolute;
				bottom: 4px;
				z-index: 110;
				//background-position: -60px -452px;
			}
		}

	/* -----------------------------------
		AttentieItem XL carrousel
	----------------------------------*/

		&.carrousel{

			// positie van overlay over de image aan de linker kant van de image
			a{
				position: relative;
			}

			img {
				width:940px;
				height:316px;
				z-index: 90;
				margin-bottom:20px;
			}
			
			a {
				div { 
					width: 250px;
					margin-left:0;
				}
				
				&:nth-of-type(1) {
					div{
						left: 0;
					}
				}
				&:nth-of-type(2) {
					div{
						left: 0;
					}
				}
				&:nth-of-type(3) {
					div{
						left:0;
						right: auto;
					}
				}
			}

		}

	/* -----------------------------------
	AttentieItem carrousel small size met javascript
	----------------------------------*/
		.js &.carrousel{

			display: block;
			height: 330px;
			margin-top: 10px;
			overflow: hidden;

			a{ 
				position: static;
				margin-bottom: 0;
				
				div {
					width: 32.2033%;
				}

				// centre
				&:nth-of-type(2) {
					div{
						left: 50%;
						margin-left:  -16.1565%;
					}
				}

				&:nth-of-type(3) {
					div{
						right: 0;
						left:auto;
					}
				}
			}

			h2{ 
				
			}
			

			img{
				position: absolute;
				margin-bottom:0;
				top: 30px; // ruimte voor toggle
				z-index: 90;
			}

			.current img {
				z-index: 95;
			}

			.carrousel-toggle {
				right: 0;
				display: block;
				width: 220px;
				position: absolute;
				top: 0;
				z-index: 110;
				padding: 0.1em 27px 0.4em 0;
				background-image: url(shared-ro/images/sprite-carrousel-toggle.png);
				background-repeat: no-repeat;
				color:  #154273;
				font-size: 109.09%;
				text-align: right;
				line-height: 1.5;
				cursor: pointer;

				&.play{
					background-position: 203px -48px;

					&:hover{
						background-position: 227px -72px;
						color: #0162CD;
					}
				}

				&.pause{
					background-position: 155px 0;

					&:hover{
						background-position: 179px -24px;
						color: #0162CD;
					}
				}
			}

			.carrousel-nav{
				position: absolute;
				width: 240px;
				top: 40px;
				right: 20px;
				display:block;
				text-align: right;
				z-index:300;

				a {
					border: 2px solid  white;
					border-radius: 100%;
					margin: 0 0 0 15px;
					background: none;
					display: inline-block;
					width: 18px;
					height: 18px;
					cursor: pointer;

					&.selected {
						border: 2px solid orange;

						&:after {
							content:' ';
							background: white;
							margin: 4px;
							border-radius: 20px;
							width: 10px;
							height: 10px;
							display: block;
						}
					}
				}

			}
			

			h3 {
				background-image: none;
				padding-left: 0;
			}

			p{

			}

		}
		
	}

	// /* -----------------------------------
	//    AttentieItem carrousel small size met javascript met 4 panels op homepage
	//   ----------------------------------*/
	// .df.home #priority{
		
	// 	a{
			
	// 		div {
	// 			width: 250px;
	// 			padding: 10px;
	// 		}

	// 		&:nth-of-type(1) {
	// 			img {
	// 				display:block;
	// 			}
	// 		}	

	// 	}

	// 	.js & a {
	// 		div{
	// 			 width: 24%;
	// 			 padding: 10px 24px 10px 10px;
	// 		}

	// 		&:nth-of-type(1) {
	// 			div{
	// 				left: 0;
	// 			}
	// 			.prio-arrow{
	// 				left: 19.7%;
	// 			}
				
	// 		}

	// 		&:nth-of-type(2) {
	// 			div{
	// 				left: 50%;
	// 				margin-left:-24.75%;
	// 			}

	// 			.prio-arrow{
	// 				left: 45.3%;
	// 			}
	// 		}

	// 		&:nth-of-type(3) {
	// 			div{
	// 				right: 50%;
	// 				margin-right:-24.75%;
	// 				//margin-right:10px;
	// 			}
	// 			.prio-arrow{
	// 				left: 71.5%;
	// 			}
	// 		}

	// 		&:nth-of-type(4) {
	// 			div{
	// 				right: 0;
	// 			}
	// 			.prio-arrow{
	// 				left: 97.1%;
	// 			}
	// 		}
	// 	}
// }
	
	.js .share-content textarea{
		height:7em;
	}
	
	/* survey */
	.message.survey a {
		display: inline-block;
		float:none;
		margin-left:0;
	}
	.message.survey #survey-no {
		float: right;
	}
}

/* -----------------------------------
   REGULAR LAYOUT
   Tablet landscape
   Small laptops
   Small canvases on desktop
   Font size drop
   -----------------------------------*/
@include respond-min($widthL){
//@media (min-width: 50em) {
	caption{
		padding-left:20px;
	}

	.header {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.article,
	#sitemap,
	#follow-up,
	#aside,
	.decorative {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0 0 0 20px;
	}
	.article,
	#sitemap,
	#follow-up {
		width: 66.7%;
		max-width: 640px;
		float: left;
		margin-top: 40px;
	}
	
	.overview #content {
		padding-left: 20px;
		width: auto;
	}
	
	.search #content {
		width: 75%;
		max-width: 720px;
		float: right;
	}
	.search #aside {
		float: left;
		clear: left;
		margin-left: 0;
	}
	
	#mainbox {
		padding-bottom: 5em;
		// background: #FFF url(images/grid-helper.png); /* temp voor grid */
	}
	#main {
		padding: 0 20px 0 0;
	}
	.header {
		margin-right: -20px;
	}
	#sitemap {
		margin: 40px 0 0;
		padding: 1px 0 20px 20px;
	}
	#follow-up + #sitemap{
		margin-top:0; // sharing heeft al 40px bottom margin
	}

	.scrollcontainer {
		margin: 0 0 30px -20px;

		td:first-child,
		th:first-child {
			padding-left: 20px;
		}
	}
	
	#aside,
	.decorative,
	.profile .decorative {
		display: block; // For decorative images 
		width: 25%;
		max-width: 240px;
		float: right;
		clear:right;
		margin: 40px 0 0 0;
	}
	
	.home #aside {
		width: 33%;
		max-width: 320px;
	}


	table {
		margin-left: -20px;
	}
	td:first-child,
	th:first-child {
		padding-left: 20px;
	}
	// if I have the first child within  a rowspanned colomn then I need extra class and use the default padding for all td's
	td.no-indent:first-child{
		padding-left: 5px;
	}
	
	#aside .block {
		width: auto;
		float: none;
	}

	#aside .block h2,
	#aside .block ul,
	#aside .news div,
	#aside .news .more,
	#aside .faqs .more,
	#aside .spotlight a,
	.banner a  {
		margin-left: 0;
	}

	#aside .thumbnail > a.more {
		margin-left: 0;
	}

	#aside .spotlight a{
		float:none;
	}
	#aside .spotlight .common {
		float:none;
	}
	
	#navigation {
		margin-top: 40px;
	}
	
	#search form {
		margin-right: 20px;
	}
	
	.leaderboard {
		padding: 0 0 0 20px;
	}
	
	.profile .intro {
		min-height: 40px;
		margin: -30px 0 0 -20px;
		padding: 30px 0 0 20px;
		background: url(shared-ro/images/quote-profile.png) 12px 0 no-repeat;
	}
	
	.home .header h1 {
		float: left;
	}

	#skip-to-menu{
		left: 20px;
	}
	
	
	/* -----------------------------------
	   news items in aside
	   ----------------------------------*/
	
	#aside .headline {
		margin: 0 0 30px;
		background-color: transparent;
	}
	
	#aside .headline div {
		width: auto;
	}
	
	
	/* --------------------------
	   FOOTER NAVIGATION
	   --------------------------*/
	
	#footer {
		padding: 0 20px 40px;
	}
	
	/* GRID -- Other system than is in use throughout site */
	
	#footer .column {
		clear: none;
		float: left;
		margin-left: 1.6949%;
		width: 32.2033%;
		display: block;
	}
	
	#footer .column:first-child {
		clear: both;
		margin-left: 0;
	}
	
	/* children */
	
	#footer h2,
	 #footer a {
		padding-left: 0;
		padding-right: 0;
	}
	
	#footer h2 {
		margin-bottom: 0.33em;
		font-size: 1.5em;
	}
	
	#footer a,
	 #footer a:visited {
		font-size: 1.083em;
	}
	
	#footer ul {
		padding: 0;
	}
	
	/* ---------------------------
	   TABBED NAVIGATION
	   ---------------------------*/
	.tabs li {
		margin-right: 10px;
	}
	
	.tabs a,
	 .tabs strong {
		font-size: 1.25em;
	}
	
	
	/* ---------------------------
	   BANNER SIZING
	   ---------------------------*/
	
	.banner {
		width: 100%;
		float: none;
		margin-bottom: 40px;
	}
	.banner img {
		width: 100%; // Do scale on large layout to prevent too wide a banner from overflowing.
	}
	
	
	/* --------------------------
	   FORM ELEMENTS
	   -------------------------*/

	.article form {
		margin-left: -20px;

		h2, fieldset, > p{
			padding-left:20px;
			margin-left:0; // maakt bovenstreep mogelijk tot begin kantlijn
		}

		// issues RO 4988 uitlijnen button voor tabellen. 
		& + .navigation{
			padding-left:0;
		}
		
	}

	form fieldset table{
		margin-left: -20px; // negatief fieldset padding;
	}


	
	/* ERROR MESSAGES */
	
	.message {
		padding-left: 20px;
		padding-right: 20px;
		background-position: 20px 0;
	}
	.message.alert {
		background-position: -980px 0;
	}
	.message.info {
		background-position: -1980px 0;
	}
	
	/* FORM HINTS */
	
	form a.open,
	 form a.close,
	 .js .ui-datepicker .ui-datepicker-close {
		padding-right: 9px;
		padding-left: 9px;
	}
	
	/* --------------------------
	   DATEPICKER
	   -------------------------*/ 
	
	.js input.date {
		padding-right: 1em;
	}
	
	.js form .ui-datepicker-trigger {
		display: inline-block;
		width: 15px;
		height: 16px;
		left: -24px;
		margin-right: -15px;
	}
	
	/* -----------------------------------------------
	   ALPHABETICAL OR THEMATICAL INDEX OF TOPICS
	   -----------------------------------------------*/
	
	.index {
		margin: 10px -20px 0;
		padding: 10px 0 10px 20px;
	}
	
	.index li {
		margin: 5px 1.9em 15px 0;
	}
	
	.index .column {
		width: 25%;
	}
	.topic {
		position: relative;
		margin: 0 -20px;
		padding: 10px 20px;
	}
	
	.subtopics {
		padding-left: 0;
		padding-bottom: 20px;
	}

	.three-columns .column {
		display: block;
		width: 33.3%;
		float: left;
		margin-left: 0;
		margin-right: 0;
	}
	
	.three-columns .column li {
		margin-left: 20px;
		padding: 0.3em 0;
	}
	
	.topic h2,
	.topics h3 {
		padding: 0;
	}
	
	.topics .subtopics li {
		padding: 0;
		border-bottom: 0;
		background-position: 0 0.9em;
	}
	
	.alphabetical.two-columns .column {
		margin-top: -10px;
	}
	
	.alphabetical ul {
		padding-bottom: 20px;
	}
	
	.alphabatical .subtopics ul {
		padding-bottom: 0;
	}
	
	.alphabetical .topic h2 {
		height: auto;
		margin: 0;
		padding: 0;
		background-color: transparent;
		color: #98BAD9;
		font-size: 7.33em;
		line-height: 1.2;
	}

	/* -------------------------
	   NEWS HEADLINE
	   ------------------------*/
	.leaderboard .news .headline,
	.leaderboard .article {
		margin: 0;
	}

	.leaderboard .news .other {
		width: 33.3%;
		float: left;
		margin-bottom: 0;
	}

	/* -----------------------------------
		Spotlight met thumbnail(foto 100px breed)
	   ----------------------------------*/
	.article .spotlight.thumbnail{
		position:relative;
	}
	.article .spotlight div a {
		margin-bottom: 0;
		padding-left: 120px;
		background:none;
	}
	.article .spotlight img{
		position: absolute;
		width: 100px;
		left: 0;
		top: 0;
	}

	.picture {
		margin-right: 20px;
	}

	.picture .block-photo-gallery {
		padding: 10px 20px 10px;
	}

	.picture .block-photo-gallery a {
		padding: 10px;
	}


	/* --------------------------
	   FACET SEARCH
	   -------------------------*/
	.facets h2,
	.facets-subset li.selected a {
		margin-left: -20px;
		padding-left: 20px;
	}

	.facets-subset li a {
		display: inline-block;
		padding-top: 0;
		padding-bottom: 0;
		background-position: 2px .5em;
	}

	.fancy .facets-subset .date {
		width: 35%;
		font-size: 0.9167em;
	}

	.fancy .facets-subset .divider {
		width: 10%;
	}

	.facets-subset .message {
		margin-left: -20px;
	}

	.search .summary {
		margin-bottom: 1em;
		position: relative;
		background: #E5F0F9;
	}

	.search .summary h2,
	.search .summary span {
		margin: 0;
		padding: 0;
		color: #000;
		font-size: 1.25em;
		font-weight: bold;
		line-height: 1.5;
	}

	.search .summary h2 {
		padding: 0.3em 10px 0.3em 10px;	
	}
	.search .summary span {
		font-size: 1em;
	}
	
	.search .summary .sorting {
		position: absolute;
		top: 0.6em;
		right: 12px;
		margin: 0;
		font: 1em/1.5 Verdana, Geneva, sans-serif;
		color: #000;
	}
	
	/* FACETS DATEPICKER */
	.js .facets-subset .ui-datepicker-trigger {
		left: -20px;
		padding: 0;
		background-position: 0 0;
	}
	.js .facets-subset .ui-datepicker {
		margin-right: 0;
		padding-right: 0;
	}

	.js .facets-subset .ui-datepicker-header-period-to {
		background-position: 12em 0;
	}

	.js .facets-subset .ui-datepicker-title {
		font-size: 0.9167em;
	}

	.js .facets-subset .ui-datepicker-calendar th {
		font-size: 0.75em;
	}

	.js .facets-subset .ui-datepicker-calendar a {
		padding-left: 0.3em;
		padding-right: 0.3em;
	}

	.js .facets-subset .ui-datepicker-prev,
	.js .facets-subset .ui-datepicker-next,
	.js .facets-subset .ui-datepicker-prev-yr,
	.js .facets-subset .ui-datepicker-next-yr {
		margin-top: 0.4em;
		font-size: 0.9167em;
	}

	.js .facets-subset .ui-datepicker-prev,
	.js .facets-subset .ui-datepicker-prev-yr {
		margin-right: 0;
		margin-left: 6px;
	}
	
	.js .facets-subset .ui-datepicker-next,
	.js .facets-subset .ui-datepicker-next-yr {
		margin-right: 6px;
		margin-left: 0;
	}	

	.js .facets-subset .ui-datepicker-next-yr {
		margin-right: 36px;
	}
	.js .facets-subset .ui-datepicker-close {
		padding: 0.2em 9px 0.4em;
	}

	/* -----------------------------------
	   INFO 1400 SPECIFICS 
	----------------------------------*/
	
	#info-1400 a {
		padding: 5px 20px 6px;
	}

	.meta-info-1400 {
		margin: 0 0 20px -20px;
	}
	.overview .meta-info-1400 {
		margin-right: -20px; // RO3698 - UUID balk uitlijning op o.a. ministerie overzichtspagina
	}

	.meta-info-1400 h3,
	.meta-info-1400 h4,
	.meta-info-1400 p,
	.meta-info-1400 table th {
		padding-left: 20px;
	}

	.results .common a.info-1400,
	.common.results a.info-1400 {
		margin-left: -20px;
		padding-left: 50px;
	}
	
	.article .faqs.overview a.info-1400 {
		padding-left: 50px;
	}

	.results .common a.faq.info-1400,
	.article .faqs.overview a.info-1400,
	.common.results a.faq.info-1400 {
	  background-position: -382px -177px;
	}

	.results .common a.publication.info-1400,
	.common.results a.publication.info-1400 {
	  background-position: -482px -87px;
	}

	/* -----------------------------------
		AttentieItem carrousel big size homepage 4 items
	   ----------------------------------*/
	#priority {

		margin: 20px 0 0 20px;
		
		.js & a{
			
			&:nth-of-type(1) {
				
				.prio-arrow{
					left: 29.6%;
				}
			}

			&:nth-of-type(2) {
				
				.prio-arrow{
					left: 63.5%;
				}
			}

			&:nth-of-type(3) {
				
				.prio-arrow{
					left: 97.4%;
				}
			}
		}

		// .js .df.home & a{
			
		// 	&:nth-of-type(1) {
				
		// 		.prio-arrow{
		// 			left: 20.5%;
		// 		}
		// 	}

		// 	&:nth-of-type(2) {
				
		// 		.prio-arrow{
		// 			left: 46.0%;
		// 		}
		// 	}

		// 	&:nth-of-type(3) {
				
		// 		.prio-arrow{
		// 			left: 71.96%;
		// 		}
		// 	}

		// 	&:nth-of-type(4) {
				
		// 		.prio-arrow{
		// 			left: 97.69%;
		// 		}
		// 	}
		// }
	}

}


/* -----------------------------------------------
   SPECIAL CASES FOR MAIN NAVIGATION
   Dropdown up to wide canvas layout
   Gutter of 10px or 20px for tablet and up
   -----------------------------------------------*/
@include respond-max(57.99em){
//@media (max-width: 57.99em) {
	.js #navigation {
		width: 100%;
		max-width: none;
		margin: 0;
	}
	
	.js #navigation h2 {
		position: absolute;
		top: -100000px;
	}
	
	.js #navigation ul {
		background-color: $portalcolor;
		padding: 0 10px;
	}
	
	.js #navigation li {
		margin: 0;
	}
	
	.js #navigation.hide {
		height: 0;
		overflow: hidden;
	}
	
	.js #navigation a,
	 .js #navigation a:visited {
		display: block;
		padding: 0.4em 10px 0.4em 0;
		border-top: 1px solid #0080bf;
		border-top: 1px solid #07A;
		font-family: arial, helvetica, sans-serif;
		font-size: 1.1em;
		text-decoration: none;
		color: $darkermainbackground; // #CCE0F1; */
	}
	
	.js #navigation a:hover,
	 .js #navigation a:active,
	 .js #navigation .selected a {
		color: #FFF;
	}
}
@include respond-min-max($widthM,57.99em){
//@media (min-width: 36em) and (max-width: 57.99em) {
	.js #navigation a {
		margin-left: 20px;
	}
}

@include respond-min-max($widthL,57.99em){
//@media (min-width: 50em) and (max-width: 57.99em) {
	.js #navigation ul {
		padding: 0 20px;
	}
}


/* -----------------------------------------------
	NAVIGATION POP IN
	Show normal main navigation if there's room
   -----------------------------------------------*/
@include respond-min($widthXL){
//@media (min-width: 58em) {
	
	#skip-to-menu {
		top: -10000px;
		text-transform: lowercase;
	}
	
	/* ---------------------------
	   MAIN NAVIGATION
	   ----------------------------*/
	
	#navigation h2 {
		position: absolute;
		top: -100000px;
	}
	
	#navigation {
		width: auto;
		max-width: 66em;
		height: 3.575em;
		position: absolute;
		top: 87px;
		margin: 0;
		background-color: transparent;
	}
	
	#navigation ul {
		margin: 1.5em 0 0 20px;
		background-color: transparent;
	}
	
	#navigation li {
		width: auto;
		float: left;
		margin: 0;
		border-bottom: 0;
	}
	
	#navigation a,
	 #navigation a:visited {
		//height: 1.975em; /*height navigation - margin-top = 3.575 - 1.5 = 2.075 - padding*/
		padding: 0.1em 10px;
		background-color: transparent;
		color: #FFF;
		font-family: arial, helvetica, sans-serif;
		font-size: 1.1em;
		font-weight: bold;
	}
	
	#navigation a:hover,
	 #navigation a:active,
	 #navigation .selected a,
	 #navigation .selected a:visited {
		background-color: $darkermainbackground; // #CCE0F1; */
		color: #000;
	}
}
