/* -----------------------------------------------
    ALPHABETICAL OR THEMATICAL INDEX OF TOPICS
   -----------------------------------------------*/
.index {
	margin: 10px;
	padding: 10px;
	border-bottom: 2px solid #F3F5F6;
	display: none;
}


.index p {
	clear: left;
	margin: 0 0 .6em;
	font-weight: bold;
}

.index li {
	float: left;
	margin: 0 25px 20px 0;
	padding: 0;
	background-image: none;
	line-height: 1.5;
	list-style: none;
}

.index li a,
.index li span {
	padding: .3em .1em .4em;
	font-weight: bold;
}

.index .column li {
	display: block;
	float: none;
	margin: 0 20px 1em 0;
}

.index .column a {
	display: block;
	padding: 0 0 .1em 15px;
	font-weight: normal;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAZQTFRFFUJz////rXsIrgAAAAJ0Uk5T/wDltzBKAAAAH0lEQVR42mJg ZGRkYIQSuBgMYAYDHIIRAwOyGoAAAwAHmgAzctFjqAAAAABJRU5ErkJggg==') no-repeat 0 0.4em;
	text-decoration: none;
}

.index .four-columns .column a:hover,
.index .four-columns .column a:focus {
	text-decoration: underline;
}


/* -----------------------------------------------
   ALPHABETICAL OR THEMATICAL LISTING
   -----------------------------------------------*/

.topic {
	clear: both;
	border-bottom: 2px solid #F3F5F6;
	padding: 10px;
}
.topic h2,
.topics h3 {
	margin: 0.4em 0;
	font: bold 1.25em/1.2 Arial, HelveticaNeue, Helvetica, Univers, sans-serif;
}

.topics.alphabetical h2{
	font-size: 1.75em;
}
.topics p.common {
	margin-bottom: 15px;
}

.topics a,
.topics a:visited {
	color: #154273;
	text-decoration: none;
}

.topics a:hover,
.topics a:visited:hover {
	color: #0162CD;
	text-decoration: underline;
}

.topics li {
	margin: 0;
	padding-left: 0;
	background-image: none;
}
.topics li {
	border-bottom: 2px solid #FFF;
}

.topics li a {
	display: block;
	float: none;
	margin: 0;
	padding: .4em 10px;
	background: $mainbackgroundcolor;
}

.topics .toplink {
	position: absolute;
	top: -100000px;
}

.home .topics h2 {
	border-top-color: $portalcolor;
}
.home .topics h3 {
	margin: 0.13em 0;
	font-size: 1.5em;
	font-weight: normal;
}
.home .topics h3 a {
	padding-left: 30px;
}
.home .topics ul {
	margin: 0 0 1em 30px;
}
.home .topics li,
.home .topics li a {
	display: inline;
	margin: 0;
	padding: 0;
	background: none;
}
.home .topics .topic {
	margin: 0 -10px;
	border-top: 2px solid #F3F5F6;
	border-bottom: 0;
	padding: 15px 10px;
}
.home .lightgrey {
	background-color: #F3F5F6;
}

// TOPICS OVERVIEW FOLDED IN MOBILE VIEW 
.subtopics.hide{
	height: 0;
	overflow: hidden;
}

/* -----------------------------------
    empty message
   ----------------------------------*/
.topics .results-message{
	padding-left:10px;
}

/* -----------------------------------------------
    BLOCK: TOPICS SELECTION FORM
   -----------------------------------------------*/

.topics.form {
	margin: 0 0 40px;
	padding-left: 10px;
}

.topics.form fieldset.topic {
	background-color: transparent;
	padding: 0;
}

.topics.form .topic h2 {
	margin: 10px 0 0;
	padding: 0;
	border: 0;
	color: #000;
// color: #98BAD9;
// color: #287DAB; Blauw lichter dan #01689B, YYNY compliant 
// color: #4e92bb; /* In between
	font: bold 1.25em/1.2 arial, helvetica, geneva, sans-serif;
}

.topics.form .topic label {
	display: block;
	width: auto;
	float: none;
	position: relative;
	left: auto;
	margin: 0 0 .4em;
	padding: .2em 24px .4em 48px;
	line-height: 1.6;
}

.topics.form .topic input {
	width: auto;
	position: absolute;
	left: 20px;
	top: 0.2em;
	border: 0;
}

.topics.form .topic h2 label {
	margin: 0;
	padding: .2em 0 .4em 20px;
	font-size: 1em;
}

.topics.form .topic h2 input {
	left: 0;
	top: 0.3em;
	z-index: 100;
	font-size: 0.9167em;
}

.topics.form .subtopics {
	margin: 0;
}

.topics.form fieldset.navigation {
	clear: left;
	margin: 0;
	padding: 20px 0 10px;
	border-bottom: 0;
}

.topics.form .navigation label {
	float: left;
	padding-left: 20px;
}

.topics.form .navigation input {
	left: 0;
}

.topics.form .topic input.show-topics {
	position: static;
	margin: 1em 0;
}


/* -----------------------------------------------
   FOLDED BLOCKS IN MOBILE VIEW
   -----------------------------------------------*/

.subtopics.hide{
	height: 0;
	padding-bottom: 0;
	overflow: hidden;
}
.js .topic h2{
	padding-right: 3em;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAMAAAALbFwWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA////pdmf3QAAAAJ0Uk5T/wDltzBKAAAAKklEQVR42mJg ZGCEAgZGBiCAskEsKA/MhFBQAqoALM0AVw7jMEINAQgwAAllADXUNN/xAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
	background-position: 98% .5em;
	cursor: pointer;
}
.js .topic h2.active {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAMAAAALbFwWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA////pdmf3QAAAAJ0Uk5T/wDltzBKAAAAKklEQVR42mJg BAEGBggFYUN4DFA2mMcAZsMIRpgSBga4cqhGKBukCCDAAAnNADW+Td05AAAAAElFTkSuQmCC');
}
.js .thematic h2 a,
.js .thematic h2 a:hover {
	text-decoration: none;
	color: #000;
}