/* -----------------------------------------------
    BLOCKS
   -----------------------------------------------*/

.block {
	margin: 0 0 20px;
}
.leaderboard {
	margin: 20px 0 0;
	padding: 0 10px;
}
.article .block{
	margin-top: 20px;
}

.article .two-columns .column {
	margin-top: 0;

	&.odd{
		clear:left;
	}
}

#content .block:first-child {
	margin-top: 0;
}

#content > .block:last-child { // niet binnen columns
	margin-bottom: 0;
}

.block h2 {
	margin: 0 0 0.8em;
	border-top: 3px solid $portalcolor;
	padding: 0.4em 0 0;
}

.block a {
	display: block;
	text-decoration: none;
}

.block a:focus,
.block a:hover,
.block a:focus h3,
.block a:hover h3 {
	text-decoration: underline;
}

.block a img {
	display: block;
	margin-bottom: 0.8em;
}

.block a p {
	color: #111122;
}

.block p:last-child,
.block ul.common:last-child li:last-child{
	margin-bottom:0; // block heeft reeds margin bottom
}

.block a .meta {
	color: #767676;
}

.block .more {
	clear: left;
	margin-top: 30px;
	margin-bottom: 0;
}

.block a:focus p,
.block a:hover p {
	text-decoration: none;
}

// in 404 and andere error paginas
.block + .meta {
	margin-top:-20px;
}

/* -----------------------------------------------
    BLOCK: SITEWIDE MESSAGES
   -----------------------------------------------*/
#site-message p{
	font: normal 1.083em/1.5 Verdana, Geneva, sans-serif;
	margin: 0;
	color: #000;
}

#site-message .lead {
	font-weight: bold;
}

.js #site-message {
	min-height: 53px;
	position: absolute;
	top: -100000px;
	left: 10px;
	z-index: 1001;
	margin: 0;
	padding-bottom: 16px;
}