/* -----------------------------------
   Video's  GALLERY overzicht
   ----------------------------------*/

.block.gallery ul {
	margin-top: 20px;
}
.block.gallery {
	margin-bottom: 10px;
}
.gallery li {
	display: block;
	margin: 0 0 30px;
	padding: 0;
	background-image: none;
}

.gallery li:nth-child(odd) {
	clear: left;
}

.gallery a,
.gallery a:focus,
.gallery a:hover {
	display: block;
	position: relative;
	text-decoration: none;
	overflow: hidden;
}

.gallery a img {
	display: block;
	width: 100%;
}

.gallery a h3 {
	margin-top: .5em;
	font-weight: normal;
}

.gallery a:hover h3,
.gallery a:focus h3 {
	text-decoration: underline;
}

.gallery .duration {
	position: absolute;
	right: 0;
	top: 10px;
	z-index: 100;
	padding: 2px .4em;
	background-color: #154273;
	color: #FFF;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
}

.gallery a:hover .duration,
.gallery a:focus .duration {
	background-color: $logocolor;
}

.gallery .meta {
	font-size: 0.917em;
	margin-bottom: 0;
}