/* --------------------------
   list of PORTRAITS
   -------------------------*/ 

.people ul {
	margin-left: -20px;
}

.people li {
	min-height: 100px;
	position: relative;
	margin-bottom: 30px;
	padding-left: 0;
	background-image: none;
}

.people li a {
	display: block;
	padding-left: 140px;
	text-decoration: none;
}

.people li h2 {
	font: 1.083em/1.5 Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;
}

.people li a:hover h2 {
	text-decoration: underline;
}

.people li p {
	margin: .4em 0;
	color: #535353; // Darker color to make distinction from visited links
	font-size: 0.917em;
}

.people li img {
	display: block;
	position: absolute;
	left: 20px;
	top: 0;
}