/* -----------------------------------------------
    TABBED SUBNAVIGATION
   -----------------------------------------------*/

.tabs {
	clear: left;
}

.tabs li {
	border-top: 1px solid $darkermainbackground;
}

.tabs a,
.tabs strong {
	display: block;
	padding: 0.4em 0;
	color: #154273;
	text-decoration: none;
	font-family: Arial, HelveticaNeue, Helvetica, sans-serif;
	font-size: 1.1em;
}

.tabs a strong {
	font-size: 1em;
}

.tabs a:visited{
	color: #154273;
}

.tabs a:focus,
.tabs a:hover {
	color: #0162CD;
	text-decoration: underline;
}

.tabs strong,
.tabs .selected a {
	color: #000;
	font-weight: bold;
}