/**
* File:        _layout.scss
* Description: _layout.scss contains all styles for page structure setup for makeitso
* Author:      Sebastiaan Bonardt - @_sebbon
*/

/**
* About the Responsive Web Design breakpoints in this setup:
* from base.scss, use small-screens, medium-screens, large-screens, xlarge-screens, wide-screens
* Use them with "respond-to" mixin from base.scss as "@include respond-to(small-screens) {}"
* 
* page setup: body direct descendants are the main wrappers containing direct 
* descendant with .inner-wrap class set to center the content on the page. Used in favor 
* of a general top level wrap all wrapper for esthetics sake. 
*
* The design pattern here is that some parts (e.g. header/footer) of the website need a full-width
* background color, but the contents needs to be centered on the page
*
* ! If no full width background-colors are in the design you can remove the inner-wrap div's and
* set the $site-max-width on the body with margin:0 auto;
*
*/

html {
    height:100%;
}

body {
    min-height:100%;
    margin:0;
    position:relative;
    padding:0;
    > header, footer, main, [role="main"] {
            width:100%;
            display:block;
            overflow:hidden;
    }
    > header {
        padding:0;
        background-color:$white;
        // .inner-wrap {
        //     padding-top:2em;
        // }
    }
    > main,[role="main"] {
        padding-bottom:3em;
        position: relative;
        @include respond-to(medium-screens) {
            padding-bottom:4em;
        }
        @include respond-to(large-screens) {
            padding-bottom:5em;
        }
    }
    > footer {
        min-height:10em;
        background-color:$lightGrey;
        padding:1em 0;
    }
}

.inner-wrap {
    @extend %group;
    margin: 0 auto;
    padding:0 0.625em;
    max-width: $site-max-width;
    position:relative;
}

.skipcontent {
    background-color: #fff;
    left: -9999px;
    padding: 0.3125em 1em;
    position: absolute;
    padding:0.5em 0.75em;
    display:inline-block;  
    z-index:2;  
    &:focus {
        left:1.25em;                     
    }
}

.logo {
    margin-bottom:1em;
    a {
        display:block;
    }
    @include respond-to(medium-screens) {
        float:left;
    }
    span {
        display:none;
    }
    &.centered {
        text-align: center;
        @include respond-to(medium-screens) {
            float:none;
        }
        a {
            display:inline-block;
        }
        img {
            margin-left:40%;
        }

    }
}

.site-name {
    display:block;
}

.site-title {
    background-color: $baseSecondThemeColour;
}

// search block styling
.search {
    padding:1.25em 0.625em 1em 0.625em;
    overflow:hidden;
    max-width:480px;
    display:block;
    background-color:$baseSecondThemeColour;
    clear:both;
    @include respond-to(small-screens) {
         width:100%;
         float:left;
         max-width: none;
    }
    @include respond-to(large-screens) {
        margin:0 0.625em 0 0;
        float:right;
        padding:0;
        width: auto;
        clear:none;
    }
    .toggleable-menu & {
        @include respond-to(medium-screens) {

        }
        @include respond-to(large-screens) {
            margin:0 0.625em;
        }
    }
    > div {
        float:right;
        width:auto;
    }
    label {
        display:none;
        clear:both;
    }
    [type="submit"] {
        padding:0 0.75em;
        border-left:0;
        width:70px;
        background-color:$baseFirstThemeColour;
        font-family: "ROSans", "arial", serif;
        font-weight:400;
        color:$baseSecondThemeColour;
        @include respond-to(large-screens) {
            background-color:$baseSecondThemeColour;
            color:$baseFirstThemeColour;
        }
        &:hover, &:active, &:focus {
            background-color:lighten($baseFirstThemeColour, 10%);
            @include respond-to(large-screens) {
                background-color:darken($baseSecondThemeColour, 5%);
            }
        }
    }
    [type="text"] {
        width:175px;
        font-family: "ROSans", "arial", serif;
    }
    input, button {
        border:0;
        height:30px;
        float:left;
        width:calc(100% - 71px);
        padding-left:0.35em;
    }
}

.toggle-btn-wrap {
    float:right;
    .toggleable-menu & {
        overflow:hidden;
        float:none;
        width:100%;
        @include respond-to(medium-screens) {
            float:right;
            width:auto;
        }
    }
    a[class*="toggle"] {
        font-family: 'ROSansBold', 'Droid Sans', Arial, Sans-serif;
        font-weight: bold;
        &:link, &:visited {
            color:$baseSecondThemeColour;
            text-decoration: none;
        }
        &:hover, &:active, &.toggle-active {
            background-color: $baseSecondThemeColour;
            color:$baseFirstThemeColour;
        }
    }
}

.toggle-menu {
    float:left;
    display:none;
    height:30px;
    margin-right:1em;
    padding: 0.25em 0.5em 0.25em 1.5em;
    position: relative;
    
    span {
      display: block;
      position: absolute;
      top: 11px;
      left: 11px;
      width:10px;
      height: 1px;
      background: white;
      &:before, &:after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #fff;
            content: "";
      }
      &:before {
         top: 3px;
      }
      &:after {
        bottom: -6px;
      }
    }
    @include respond-to(medium-screens) {
        display:none;
    }
}

.toggle-search {
    float:right;
    display:none;
    padding: 0.4em 0.5em 0.6em;
    width:80px;
    &:before {
        content: "▸";
        margin-right: 0.3em;
    }
    .toggleable-menu & {
        height:30px;
        padding: 0.25em 0.5em;
        @include respond-to(medium-screens) {
            height:auto;
            padding: 0.4em 0.5em 0.6em;
            margin-right:0;
        }
    }
    @include respond-to(medium-screens) {
        display:none;
        margin-right:0.625em;
    }
}

nav {
    background-color:$baseFirstThemeColour;
    padding-top:0.5em;
    border-bottom:10px solid $baseSecondThemeColour;
    @include respond-to(large-screens) {
        padding-top:0.65em;
    }
    .menu {
        float:left;
        width:calc(100% - 75px);
        @include respond-to(large-screens) {
            width: calc(100% - 290px);
            // margin-left:0.625em;
        }
    }
    ul {
        // border-top:00px solid $baseSecondThemeColour;
        // background-color: $baseSecondThemeColour;
        padding:0;
        overflow:hidden;
        
    }
    li {
        list-style: none;
        float: left;
        @include respond-to(medium-screens) {
            padding-right:0.2em;
        }
        a {
            padding:0.5em 0.75em; 
            display:block;
            font-family: 'ROSansBold', 'Droid Sans', Arial, Sans-serif;
            @include respond-to(large-screens) {
                padding:0.55em 0.75em 0.75em;
            }
            &:link, &:visited {
                color:$baseSecondThemeColour;
                text-decoration: none;
            }
            &:hover, &:active, &.active {
                background-color: $baseSecondThemeColour;
                color:$baseFirstThemeColour;
            }
        }    
    }

    .toggleable-menu & {
        float:left;
        width:100%;
        .inner-wrap {
            padding:0;
        }
        .menu {
            float:left;
            width:100%;
            @include respond-to(medium-screens) {
                //float:none;
                width:calc(100% - 90px);
                padding-left: 0.625em;
            }
            @include respond-to(large-screens) {
                //float:none;
                width:calc(100% - 280px);
            }
        }
        li {
            float:none;  
            @include respond-to(medium-screens) {
                padding-right:0.2em;
            }
            a {
                padding:0.5em;
            }
        }
        @include respond-to(medium-screens) {
            li {
                float:left;
                a {
                    padding:0.5em 0.75em;
                }
            }
        }
        @include respond-to(large-screens) {
            li a {
                padding:0.55em 0.75em 0.75em;
            }
        }
    }
}

.secondary-menu, .meta-menu {
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    @include respond-to(medium-screens) {
        float:right;
    }
    @include respond-to(large-screens) {
        position:absolute;
        bottom:0;
        right:0;
        left:auto;
        top:auto;
    }
    li {
        list-style: none;
        float:left;
        a {
            padding:0.5em; 
            display:block; 
        }    
    }
}

.breadcrumb {
    padding: 1em 0;
    background-color: $baseSecondThemeColour;
    width: 100%;
}


// <section> and main <article> under <main>
.main-content {
    position:relative;
    > header, .heading {
        background-color: $baseSecondThemeColour;
        margin-bottom:1em;
    }
    // > .content {
    //     @include display-flex;
    //     @include flex-direction(column);
    //     @include respond-to(large-screens) {
    //         display: inherit;
    //         flex-direction:unset;
    //     }
    // }
    .content-wrap {
        @include order(1);
        width:100%;
        @include respond-to(large-screens) {
            width: 66%;
            margin-right:2%;
            float:left;
            @include order(0);
        }
        & + aside {
            @include respond-to(large-screens) {
                width: 30%;
                margin-left:2%;
                float:right;
            }
        }
    }
}

.content {
    // if supported, override floated column layout with flexbox    
    @include display-flex;
    @include flex-direction(column); // columns for mobile
    @include justify-content(space-between);
    @include respond-to(large-screens) {
        @include flex-direction(row); // rows for tabs & up
        & + .content {
            margin-top:1em;
        }
    }
}

// column classes. Half is 50%, Third 33%, TwoThirds 66%..... such wows...
.third {
    min-height: 2em;
    width:100%;
    margin-bottom: 2em;
    background-color: #eee;
    @include respond-to(large-screens) {
        float:left;
        margin:0 1%;
        width:32%;
        &:first-child {
            margin-left:0;
        }
        &:last-child, & + .third + .third {
            margin-right:0;
        }
    }
    .two-third + & {
        @include respond-to(large-screens) {
            margin-right:0;
        }
    }
}

.two-third {
    min-height: 2em;
    width:100%;
    margin-bottom: 2em;
    background-color: #eee;
    @include respond-to(large-screens) {
        float:left;
        margin:0 1% 0 0;
        width:66%;
        &:first-child {
            margin-left:0;
        }
        &:last-child, & + .third + .third {
            margin-right:0;
        }
    }
    .third + & {
        @include respond-to(large-screens) {
            margin:0 0 0 1%;
        }
    }
}

.half {
    min-height: 2em;
    margin-bottom: 2em;
    background-color: #eee;
    @include respond-to(large-screens) {
        float:left;
        margin:0 1% 0 0;
        width:49%;
        & + .half {
            margin: 0 0 0 1%;
        }
    }
}

footer {
    .inner-wrap {
        @include respond-to(medium-screens) {
            @include display-flex;
            //@include justify-content(space-between);
            @include align-items(stretch);
            @include flex-wrap(wrap);
        }
    }
}

.footer-block {
    background-color: transparent!important;
    @include respond-to(medium-screens) {
        float:left;
        width:49%;
        //margin:0 1%;
        margin-left:1%;
        margin-right:1%;
        &:first-child {
            margin-left:0;
            & + .footer-block {
                margin-right:0;
            }
            & + .footer-block + .footer-block {
                margin-left: 0;
                margin-right: 0;
                width: 100%;
            }
        }
    }
    @include respond-to(large-screens) {
        //margin: 0 1%;
        width: 32%;
        &:first-child {
            margin-left:0;
            & + .footer-block {
                margin-right:1%;
            }
            & + .footer-block + .footer-block {
                margin:0 0 0 1%;
                width: 32%;
            }
        }
    }
}


.payoff, .payoff span {
    position: absolute;
}

.payoff {
    border-left: 44px solid #154273;
    bottom: 0;
    display: block;
    font-family: "ROserif", arial;
    height: 22px;
    left: 50%;
    margin: 0 0 0 -22px;
    padding: 0 0 0 1em;
    top: auto;
    width: 175px;
}

.comments {

}