/**
 * File:        _layout.scss
 * Description: _layout.scss contains all styles for page structure setup for makeitso
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

/**
 * About the Responsive Web Design breakpoints in this setup:
 * from base.scss, use small-screens, medium-screens, large-screens, xlarge-screens, wide-screens
 * Use them with "respond-to" mixin from base.scss as "@include respond-to(small-screens) {}"
 * 
 * page setup: body direct descendants are the main wrappers containing direct 
 *  descendant with .inner-wrap class set to center the content on the page. Used in favor 
 * of a general top level wrap all wrapper for esthetics sake. 
 *
 * The design pattern here is that some parts (e.g. header/footer) of the website need a full-width
 * background color, but the contents needs to be centered on the page
 *
 * ! If no full width background-colors are in the design you can remove the inner-wrap div's and
 * set the $site-max-width on the body with margin:0 auto;
 *
 */

html {
    height:100%;
}

body {
    min-height:100%;
    margin:0;
    position:relative;
    padding:0;
    > header, footer, main, [role="main"] {
            width:100%;
            display:block;
            overflow:hidden;
    }
    > header {
        padding:0;
        background-color:$white;
        // .inner-wrap {
        //     padding-top:2em;
        // }
    }
    > main,[role="main"] {
        padding-bottom:3rem;
        position: relative;
        @include respond-to(medium-screens) {
            padding-bottom:4rem;
        }
        @include respond-to(large-screens) {
            padding-bottom:5rem;
        }
        // to show on hover sub ul's
        @include respond-to(xlarge-screens) {
            z-index:1;
        }
    }
    > footer {
        min-height:10rem;
        background-color:$lightGrey;
        padding:2rem 0 3rem;
    }
}

aside {
    margin-bottom:2rem;
}

.inner-wrap {
    @extend %group;
    margin: 0 auto;
    padding:0 0.625rem;
    max-width: $site-max-width;
    position:relative;
    //prevent margin-collapse
    overflow:auto;
}

.skipcontent {
    background-color: #fff;
    left: -9999px;
    padding: 0.3125rem 1rem;
    position: absolute;
    padding:0.5rem 0.75rem;
    display:inline-block;  
    z-index:2;  
    text-decoration:underline; 
    &:focus {
        left:1.25rem;                    
    }
}

.logo {
    margin-bottom:1rem;
    a {
        display:block;
    }
    @include respond-to(medium-screens) {
        float:left;
    }
    span {
        display:none;
    }
    &.centered {
        text-align: center;
        @include respond-to(medium-screens) {
            float:none;
        }
        a {
            display:inline-block;
        }
        img {
            margin-left:40%;
        }
    }
}

.site-name {
    display:block;
}

.site-title {
    background-color: $baseSecondThemeColour;
}

// <section> and main <article> under <main>
.main-content {
    position:relative;
    //prevent margin-collapse
    overflow:auto;
    //padding-top:1.75rem;
    > header, .heading {
        padding: 1rem 0 0;
        .overview-page & {
            background-color: $baseSecondThemeColour;
            margin-bottom:2rem;
        }
    }
    // > .content {
    //     @include display-flex;
    //     @include flex-direction(column);
    //     @include respond-to(large-screens) {
    //         display: inherit;
    //         flex-direction:unset;
    //     }
    // }
    .content-wrap {
        @include order(1);
        width:100%;
        @include respond-to(large-screens) {
            width: 66%;
            margin-right:2%;
            float:left;
            @include order(0);
        }
        & + aside {
            @include respond-to(large-screens) {
                width: 30%;
                margin-left:2%;
                float:right;
            }
        }
    }
}

.content {
    // if supported, override floated column layout with flexbox    
    @include display-flex;
    @include flex-direction(column); // columns for mobile
    @include justify-content(space-between);
    margin-top:1.75rem;
    @include respond-to(large-screens) {
        @include flex-direction(row); // rows for tabs & up
        display: block;
        & + .content {
            display: block;
            margin-top:0;
        }
    }
    @include respond-to(xlarge-screens) {
        display: block;
    }
}

.column {
    min-height: 2rem;
    width:100%;
    margin-bottom: 2rem;
    //background-color: #eee;
    .home & {
        min-height:8rem;
    }
    @include respond-to(large-screens) {
        margin:0 0 1.75rem 0;
    }
}

// column classes. Half is 50%, Third 33%, TwoThirds 66%..... such wows...
.third {
    width:100%;
    @include respond-to(large-screens) {
        float:left;
        margin:0 1% 1.75rem;
        width:32%;
        &:first-child {
            margin-left:0;
        }
        &:last-child, & + .third + .third {
            margin-right:0;
        }
    }
    .two-third + & {
        @include respond-to(large-screens) {
            margin-right:0;
        }
    }
}

.two-third {
    width:100%;
    @include respond-to(large-screens) {
        float:left;
        margin:0 1% 1.75rem 0;
        width:66%;
        padding-right:1.5rem;
        &:first-child {
            margin-left:0;
        }
        &:last-child, & + .third + .third {
            margin-right:0;
        }
    }
    .third + & {
        @include respond-to(large-screens) {
            margin:0 0 1.75rem 1%;
        }
    }
}

.half {
    @include respond-to(large-screens) {
        float:left;
        margin:0 1% 1.75rem 0;
        width:49%;
        & + .half {
            margin: 0 0 1.75rem 1%;
        }
    }
}

footer {
    .inner-wrap {
        @include respond-to(medium-screens) {
            @include display-flex;
            //@include justify-content(space-between);
            @include align-items(stretch);
            @include flex-wrap(wrap);
        }
    }
}

.footer-block {
    background-color: transparent!important;
    @include respond-to(medium-screens) {
        float:left;
        width:49%;
        padding:0.5%;
        //margin:0 1%;
        margin-left:1%;
        margin-right:1%;
        &:first-child {
            margin-left:0;
            & + .footer-block {
                margin-right:0;
            }
            & + .footer-block + .footer-block {
                margin-left: 0;
                margin-right: 0;
                width: 100%;
            }
        }
    }
    @include respond-to(large-screens) {
        //margin: 0 1%;
        width: 32%;
        &:first-child {
            margin-left:0;
            & + .footer-block {
                margin-right:1%;
            }
            & + .footer-block + .footer-block {
                margin:0 0 0 1%;
                width: 32%;
            }
        }
    }
}


.payoff, .payoff span {
    position: absolute;
}

.payoff {
    border-left: 44px solid #154273;
    bottom: 0;
    display: block;
    font-family: "ROserif", arial;
    height: 22px;
    left: 50%;
    margin: 0 0 0 -22px;
    padding: 0 0 0 1rem;
    top: auto;
    width: 175px;
}

.comments {

}

<<<<<<< HEAD
=======
//default bolt pagination
.pagination {
    li {
        float:left;
        margin: 0 0.45rem 0 0;
        text-align:center;
        width:44px;
        a {
            transition: all 100ms linear;
            padding: 0.45em 0;
            display: block;
            border: 1px solid $baseSecondThemeColour;
            background-color: $baseSecondThemeColour;
            &:link, &:visited {
                text-decoration:none;
            }
            &:hover, &:active, &:focus {
                background-color: darken($baseSecondThemeColour, 7%);
                border: 1px solid  darken($baseSecondThemeColour, 7%);
            }
        }
        &.active {
            a {
                border:1px solid $baseSecondThemeColour;
                background-color: $white;
                &:link, &:visited {
                    text-decoration:none;
                }
                &:hover, &:active, &:focus {
                    background-color: $baseSecondThemeColour;
                }
            }
        }
    }
}


// .hero {
//     position: relative;
//     article {
//         position: absolute;
//         bottom:1rem;
//         left:0;
//         width:100%;
//         .inner-wrap {

//         }
//         h1 {
//             font-family: "ROSansBold", "Droid Sans", Arial, Sans-serif;
//             @include header-font-size(2.5);
//         }
//         .intro {
//             width:60%;
//         }
//     }
//     .hero-image {
//         width:150%;
//         @include respond-to(small-screens) {
//             height: auto;
//             max-width:100%;
//         width:100%;
//         }
//     }
// }