.hero-image {
    /* position:absolute; -- Bob says no. */
    top:0;
    z-index:1;
    width:100%;
    left:0;
    background-color:$grey;
    img {
        display: block;
        position: relative;
        margin: 0 auto;
    }
}

.main-content {
    .home & {
        & > .inner-wrap {
            padding-top:3rem;
            @include respond-to(medium-screens) {
                padding-top:5rem;
            }
            @include respond-to(wide-screens) {
                padding-top:6rem;
            }
        }
    }
}

.search-results {

}

.search-result {
    overflow:visible;
    margin-bottom:2rem;
    > a {
        display:block;
        color:$black;
        @include respond-to(wide-screens) {
            padding: 0.625rem;
            margin: 0 -0.625rem;
            position: relative;
            border: 1px solid $white;
            //left:1rem;
        }
        &:link, &:visited {
            transition: 100ms all linear;
            text-decoration:none;
            h1 {
                color:$baseFirstThemeColour;
                //transition: 100ms all linear;
                @include respond-to(wide-screens) {
                    text-decoration:underline;
                    border-bottom:1px solid $white;
                }
                @include respond-to(wide-screens) {
                    text-decoration:none;
                }
            }
            p {
                margin-bottom:1rem;
            }
        }
        &:hover, &:active, &:focus {
            @include respond-to(wide-screens) {
                border: 1px solid $baseSecondThemeColour;
                //background-color: lighten(lightGrey, 15%);
                color:$darkGrey;
            }
            h1 {
                span {
                    text-decoration:underline;
                    @include respond-to(wide-screens) {
                        text-decoration:none;
                        border-bottom:1px solid $baseFirstThemeColour;
                    }
                }
            }
        }
    }
    h1 {
        transition: 150ms all linear;
        margin-bottom:0.15em;
        display:inline-block;
        clear:both;
    }
}

