/**
 * File:        _typography.scss
 * Description: _typography.scss contains all text styles for makeitso 
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

/**
 *  ROSans and ROSerif 
 */

@font-face {
    font-family: "ROSans";
    src: url("../webfonts/ROsanswebtextregular.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/ROsanswebtextregular.ttf") format("opentype"),
    url("../webfonts/ROsanswebtextregular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "ROSansBold";
    src: url("../webfonts/ROsanswebtextbold.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/ROsanswebtextbold.ttf") format("opentype"),
    url("../webfonts/ROsanswebtextbold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "ROSansItalic";
    src: url("../webfonts/ROsanswebtextitalic.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/ROsanswebtextitalic.ttf") format("opentype"),
    url("../webfonts/ROsanswebtextitalic.woff") format("woff");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "ROSerif";
    src: url("../webfonts/ROserifwebregular.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/ROserifwebregular.ttf") format("opentype"),
    url("../webfonts/ROserifwebregular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "ROSerifBold";
    src: url("../webfonts/ROserifwebbold.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/ROserifwebbold.ttf") format("opentype"),
    url("../webfonts/ROserifwebbold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "ROSerifItalic";
    src: url("../webfonts/ROserifwebitalic.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/ROserifwebitalic.ttf") format("opentype"),
    url("../webfonts/ROserifwebitalic.woff") format("woff");
    font-style: italic;
    font-weight: 400;
}

body {
    font-size:100%;
    font-family:$base-font-family;
    color:$baseFontColour;
}

h1, h2, h3, h4, h5 {
    color:$baseFontHeaderColour;
    margin-top:0;
    font-family: "ROSansBold", serif;
    font-weight:400;
    font-style:normal;
}

h1, .alpha {
    @include header-font-size(2);
    margin-bottom:0.5em;
    .site-title & {
        @include header-font-size(1);
        margin-bottom:0;
        padding:0.25em 0;
        font-family: "ROSansBold", "Droid Sans", Arial, Sans-serif;
        font-weight:700;
        font-style:normal;
    }
}

h2, .beta {
    @include header-font-size(1.75);
}

h3, .gamma {
    @include header-font-size(1.5);
}

h4, .delta {
    @include header-font-size(1.125);
}

h5 {
    @include header-font-size(1);
    font-family: 'ROSansBold';
}

blockquote {
    @include header-font-size(1.5);
    padding:1em;
    background-color:$baseSecondThemeColour;
    font-family: 'ROSans', 'Droid Sans', Arial, Sans-serif;
    color:$black;
}

blockquote {
  //border-left: 10px solid $baseFirstThemeColour;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: $baseFirstThemeColour;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

ul {
    padding:0;
    margin:0;
    list-style: none;
    li {
        padding:0;
        margin:0;
    }
}

a, a:link, a:visited {
    transition: all 80ms linear;
    color:$baseLinkColour;
    footer & {
        color:$black;
        text-decoration:none;
    }
}

a:hover, a:active, a:focus {
    text-decoration:none;
    footer & {
        text-decoration:underline;
    }
}

.btn {
    padding: 0.25em 0.5em;
    background-color: $baseFirstThemeColour;
    border:0 solid $black;
    display:block;
    margin-bottom:1.5em;
    //@include border-radius(3px);
    &:link, &:visited {
        color:$white;
        text-decoration:none;

        .btn__subtext {
            text-decoration:none;
        }
    }
    &:hover, &:active, &:focus {
        text-decoration:underline;
        background-color: darken($baseFirstThemeColour, 5%);
    }
    span {
        clear:both;
        display:block;
    }
    .btn__subtext {
        display:inline-block;
        @include font-size(0.875);
        color:$lightGrey;
    }
}

.btn--large {
    //@extend .beta;
    @include header-font-size(1.5);
    line-height:1;
    padding: 1rem 1.25rem;
    &:link, &:visited {

    }
    &:hover, &:active, &:focus {

    }
}


main, footer, .highlighted {
    p, ul, ol, dl, pre, cite, blockquote, table {
        margin:0 0 1.5em 0;
        @include font-size(1);
        @include respond-to(wide-screens) {
            @include font-size(1.125);
        }
    }
    .intro {
        @include font-size(1.125);
        .overview-page & {
            @include respond-to(medium-screens) {
                max-width:80%;
            }
            @include respond-to(large-screens) {
                max-width:66%;
            }
        }
    }
    ol {
        counter-reset:li; /* Initiate a counter */
        margin-left:0; /* Remove the default left margin */
        padding-left:0; /* Remove the default left padding */
        > li {
            position:relative; /* Create a positioning context */
            list-style:none; /* Disable the normal item numbering */
            padding-left:1.7em;
            margin-bottom:1em;
            &:before {
                position:absolute;
                top:0;
                left:0;
                @include font-size(1.25);
                line-height:1;
                width:2em;
                text-align:left;
                content:counter(li); /* Use the counter as content */
                counter-increment:li; /* Increment the counter by 1 */
            }
        }
    }
    li ol, li ul {
        margin-top:0.5em;
    }
    ol ol li:last-child {
        margin-bottom:0;
    }
}


.edit-link {
    position: relative;
    top:-0.65rem;
    margin-left: 0.5rem;
    a {
        @include font-size(0.875);
        text-transform: lowercase;
        padding:0.1em 0.35em;
        color:$black;
        background-color:$lightGrey;
        @include border-radius(5px);
        border:1px solid $grey;
        font-family: "ROSans";
        &:link, &:visited {
            text-decoration:none;
        }
        &:hover, &:active, &:focus {
            background-color:$darkGrey;
            color:$white;
        }
    }
}
