// -----------------------------------
// MAGIC SPRITES
// placed right below common list
// setup to prevent code from
// overruling other paddings
// ----------------------------------*/
.common li li a,
.news .other a {
	background-position: 0 0.5em;
	background-repeat:no-repeat;
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAMAAAACh/xsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAZQTFRFFUJz0NDAOhAcIwAAAAJ0Uk5T/wDltzBKAAAAHUlEQVR42mJg BAIGKAaTEAaQYoADuAiKGhABEGAABXMAK0OFNgoAAAAASUVORK5CYII=');
}

.bullet,
.external,
.rss-feed,
a.close,
a.down,
a.open,
a.up,
a.bullethighlight{
	background-repeat:no-repeat;
	background-image:url('shared-ro/images/sprites/inline.png');
	padding-left: 13px;
}

.bullet {
  	background-position: 0 -680px;
}

.close {
  	background-position: 0 -425px;
}

.down {
	background-position: 0 -510px;
}

.external {
	background-position: 0 -170px;
}

.open {
	background-position: 0 -340px;
}

.rss-feed {
	background-position: 0 0;
}

.up {
	background-position: 0 -595px;
}

.bullethighlight {
	background-position: 0 -765px;
}

// .index a {
// 	background: url('shared-ro/images/sprites/inline.png') 0 -85px no-repeat;
// 	padding-left: 18px;
// } // vervangen door base64 versie zelfde als anchors a

.common a,
a.more,
.thumbnail a.more,
.docs-pubs a,
h1.activity,
h1.faq,
h1.news,
h1.publication,
.spotlight a h3,
.notification a.faq,
.home .topics h3 a,
#priority a .prio-arrow,
#priority a h3 {
	background-repeat:no-repeat;
	background-image:url('shared-ro/images/sprite-icons-xl-1.2.png');
	background-position: -102px -452px; // default big arrow: iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAMAAACKnBfWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAZQTFRFAWib////rYYWUQAAAAJ0Uk5T/wDltzBKAAAAMElEQVR42mJg BAEGRhgAsxgYGJD5SFwQH5kL5KNwQTz8AF09hnkY9mG4B9m9AAEGAC7oAH2LJlXSAAAAAElFTkSuQmCC
	padding-left:30px;
}

.actions .common .next a{
	background-repeat:no-repeat;
	background-position: 100% 0.23em;
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAMAAACKnBfWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAWib////rYYWUQAAAAJ0Uk5T/wDltzBKAAAALUlEQVR42mJghAEGJBLEYGBA4UMFEHyIABIfLMBACKCrx2kemn2Y7gGTAAEGAC+YAH3uLVcWAAAAAElFTkSuQmCC');
}

.notifications a.faq{
  background-position: -402px -182px;
}

.notifications .common a.email {
  background-position: -452px -137px;
}

h1.publication,
.common a.publication,
.spotlight a.publication h3,
.docs-pubs a {
  background-position: -502px -91px;
}


h1.activity,
.common a.activity,
.spotlight a.activity h3 {
  background-position: -2px -542px;
}

.common a.email {
  background-position: -302px -272px;
}

.anchors .common a {
  background-position: -152px -407px;
}

.common a.video,
.spotlight a.video h3 {
  background-position: -602px -2px;
}

h1.faq,
.faqs .common a,
.common a.faq,
.spotlight a.faq h3 {
  background-position: -252px -317px;
}

.common a.external,
.spotlight a.external h3 {
  background-position: -203px -362px;
}

.common a.rss-feed {
  background-position: -552px -47px;
}

h1.news,
.common a.news,
.spotlight a.news h3 {
  background-position: -352px -227px;
}

.actions .common .previous a {
  background-position: -52px -499px;
}