
/* -----------------------------------------------
   MAIN TYPOGRAPHY
   -----------------------------------------------*/

html {
	font-size: 14px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-size: 14px;
	//-webkit-text-size-adjust: none;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

h1 {
	padding: 0 0 0.3em 0;
	font: normal 1.833em/1.2 Arial, HelveticaNeue, Helvetica, Univers, sans-serif;
}
.home h1 {
	padding: 0;
}
.article h1 {
	margin-bottom: 1em;
	padding-bottom: 1px;
	font: bold 1.5em/1.2 Arial, HelveticaNeue, Helvetica, Univers, sans-serif;
}

h2 {
	margin: 2em 0 0.2em;
	font: bold 1.25em/1.5 Arial, HelveticaNeue, Helvetica, Univers, sans-serif;
}

h3 {
	font-weight: bold ;
}
a h3 {
	font-weight: normal ;
}

//RO-3223  H4 wordt dan: Verdana 12 pt cursief bold, H5 wordt dan: Verdana 12 pt cursief regular
h4 {
	font-weight: bold ;
	font-style: italic;
}

h5{
	font-style: italic;
}

p {
	margin-bottom: 1.2em;
	line-height: 1.8;
}
pre {
	overflow: auto;
}

.superheading,
.subheading {
	color: #01689B;
	font: normal 1.5em/1.2 Arial, HelveticaNeue, Helvetica, Univers, sans-serif;
}
.superheading {
	margin: 0;
}
.subheading {
	margin: -1em 0 1em;
}

em {
	font-style: normal;
}

.article ul {
	clear: left;
	margin-bottom: 0.8em;
}

.article li {
	margin: 0.4em 0;
	padding-left: 30px;
	background: url(shared-ro/images/sprite-bullet.png) no-repeat 10px 0.8em;
}

.article ol {
	list-style-type: decimal;
}

.article ol li {
	list-style-type: decimal;
	margin-left: 30px;
	padding-left: 0;
	background: none;
}

// Position subscript and superscript content without affecting line-height: h5bp.com/k 
sub,
sup {
	font-size: 0.83333em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* ------------------------------------------------
   Definition lists
   ----------------------------------------------- */

dl{
	margin: .5em 0 30px;
}
// dl:after zie float clearing
dt{
	display: block;
	width: 6em;
	float: left;
	clear: left;
	font-weight: bold;
	line-height: 1.5;
}
dd{
	margin: 0 0 .5em 6.9em;
	line-height: 1.5;
}


/* ------------------------------------------------
   Links
   ----------------------------------------------- */

a {
	color: $primarylinkcolor;
}

a:visited {
	color: $visitedlinkcolor;
}

a:focus,
a:hover {
	color: $secondarylinkcolor;
}

a:focus h3,
a:hover h3 {
	text-decoration: underline;
}

a:focus h4,
a:hover h4 {
	text-decoration: underline;
}

/* -----------------------------------------------
   Embedded content
   ----------------------------------------------- */

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

.article img {
	max-width: 100%;
	height:auto;
}

.content-image-left,
.content-image {
	margin: 0.5em 0 0.5em;
	position:relative;
	clear:both;

	img {
		max-width : 100%;
	}

	.caption {
		margin:  0.6em 0 1.8em; // Add space below caption to separate from content.
		color: #767676;
		line-height:1.5;
		font-size: 0.91666em;
	}

	& + div {
		clear:both;
	}

}

.content-image-left {
	float: none;
	clear: left;
	margin-right: 0;
}

/* ------------------------------------------------
   Tables
   ---------------------------------------------- */
// in mobile alles is block  en th en td wordt links verschoven -10 en 100% + 10 padding
.scrollcontainer {
	margin: 0 -8px 30px;
	overflow: auto;
	font-size: 0.9167em;
	
	td:first-child, th:first-child {
		padding-left:8px;
	}

	table {
		margin-bottom : 0;
	}

	&::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 11px;
	    height: 11px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 8px;
	    border: 2px solid #FFF; // should match background, can't be transparent
	    background-color: $darkermainbackground;
	}

	//&.scroll {
	//	overflow:auto;
	//	td,th {
	//		padding:2px 5px;
	//		font-size:0.9em;
	//	}
	//}
}

table {
	border-collapse: collapse;
	margin: 0 0 1.4em 0;
}

form table{
	margin-left: 0; //form heeft al -10px;
	margin-bottom: 0;
	min-width:100%; // als tekst over twee regels wrapped vult de browser de tabel tot de gehele breedte inclusief de 20px verplaatsing

	caption{
		color: #000000;
		font: bold 1.25em/1.5 Arial, HelveticaNeue, Helvetica, Univers, sans-serif;
		margin: 0;
		padding: 4px 20px;
	}

	td:last-child{
		width:100%;
	}
}

form fieldset table{
	margin-left: -10px; // negatief fieldset padding;
}

h2 + table {
	margin-top: .8em;
}

td,
th {
	padding: 4px 5px 5px;
	border-collapse: collapse;
	vertical-align: top;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	background-color: $mainbackgroundcolor;

	&:first-child {
		border-left:none;
	}

	&:last-child {
		border-right:none;
	}
}


th {
	background-color: $darkermainbackground;
	font-weight: bold;
}

th p,
td p {
	line-height: normal;
	margin: 0;
}

caption {
	padding-left: 10px;
	margin: 1em 0;
	color: #767676;
	line-height: 1.5;
	text-align: left;
}

tfoot td{
	background-color: transparent;
}

/* -----------------------------------
    HTML5
   ----------------------------------*/
time {
	display:inline-block; // zorgt ervoor dat de tijd bij voorkeur niet wordt afgebroken bij de dag alleen
}