/* -----------------------------------------------
   FAQ SPECIFICS
   -----------------------------------------------*/

h1.faq {
	color: #488527;
	font-size: 1.5em;
	font-weight: bold;
}

.faqs h2 {
	border-top-color: #4E9626;
}

.faqs .common li {
	margin-bottom: 1.5em;
}

.faqs .common a:focus,
.faqs .common a:hover,
a.faq:focus,
a.faq:hover,
.spotlight a.faq:focus h3,
.spotlight a.faq:hover h3 {
	color: #4E9626;
	text-decoration: underline;
}

.faqs.answers .common a:focus,
.faqs.answers .common a:hover {
	text-decoration: none;
}

.faqs .common p {
	margin-left: -30px;
	font-size: 0.9167em;
}
.faqs .more {
	margin-top: 0;
}
