/* -----------------------------------
    helper classes
   ----------------------------------*/

/* -----------------------------------------------
    FLOAT CLEARING
   -----------------------------------------------*/
form,
fieldset p,
dl,
.block-photo-gallery ul,
.sharing,
.two-columns,
.three-columns,
.block,
.tabs,
.common,
.common li,
.more,
.paging,
.actions,
.header,
.index,
.subtopics,
.message.site,
.radio-subfields,
#main,
#content,
#aside,
#sitemap,
#mainbox,
#follow-up,
#navigation ul,
#footer ul{ // dl ook  omdat dt inhoud langer kan zijn dan dd
	@include clear-floats;
}

#mainbox:after,
#footer:after,
.actions:after,
.message.site:after {
	clear: both;
}

// specific only for js enabled elements
.js-content {
	display:none;
}
.js .js-content {
	display:block;
}

// hidden elements
.assistive {
	@include visuallyhidden;
}

/* -----------------------------------------------
   Menu
   -----------------------------------------------*/

.skiplinks p {
	margin: 0;
}

.skiplinks a,
#search label{
	@include visuallyhidden;
}