/* -----------------------------------------------
    MAIN LAYOUT
   -----------------------------------------------*/

body {
	border-top: 3px solid #4E4E4E;
	background-color: #F3F5F6;
}

#centerbox,
#site-message {
	margin: 0 auto;
	max-width: 980px;
}

#mainbox {
	position: relative;
	padding-bottom: 60px;
	border-bottom: 3px solid #4E4E4E;
	background-color: #FFF;
}

#header {
	position: relative;
	padding-top: 76px;
	overflow: hidden;
}

#navigation {
	margin: 0 10px 0 0;
}

#main {
	clear: both;
	border-top: 10px solid $mainbackgroundcolor;
}

#aside{
	margin: 0 10px;
}

#follow-up {
	clear: left;
	margin: 0 10px;
}

#navigation {
	clear: left;
	margin: 40px 10px 20px;
}

.article {
	padding: 40px 0 0;
	margin: 0 10px 20px;
}

/* -----------------------------------------------
    LOGOTYPE AND PAY-OFF
   -----------------------------------------------*/
#logotype {
	position: absolute;
	left: 50%;
	top: -11px;
	margin-left: -22px;
}

#payoff,
#payoff span {
	position: absolute;
	top: -100000px;	
}


/* -----------------------------------------------
    SEARCH
   -----------------------------------------------*/

#search {
	height: 3.1em;
	background-color: $portalcolor;
}

#search form {
	max-width: 70%;
	position: relative;
	float: right;
	margin: 0.7em 10px 0;
	background-color: #FFF;
}

#search p {
	margin: 0;
}
#search input {
	display: block;
	width: 10em;
	float: left;
	margin: 0;
	border: 0;
	padding: 4px 0;
	background-color: transparent;
	color: #111122;
	font-size: 0.9em;
	line-height: 1.5;
}
#search input[type=submit] {
	width: auto;
	padding: 4px 4px 4px 18px;
	//background: $mainbackgroundcolor url(shared-ro/images/sprite-icons-menu-search.png) no-repeat 0 -100px;
	background: $darkermainbackground url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAxQTFRFAWibmcPXOImx////cMSuLgAAAAR0Uk5T////AEAqqfQAAABB SURBVHjabI5JDgAwCAKx/P/PtaBdknIwGRcQZCAVXAIHpCEK9V3ZS4km+uRL9+br0gmedbqwPMrv ELH968spwABl+gExsfnwvAAAAABJRU5ErkJggg==') no-repeat 4px 50%;
	color: #154273;
	font-weight: normal;
	cursor: pointer;
}


/* -----------------------------------------------
    SKIP TO MENU
   -----------------------------------------------*/

#skip-to-menu,
#skip-to-menu:visited {
	display: block;
	float: left;
	position: absolute;
	top: 76px;
	left: 10px;
	margin:0;
	margin-top: 0.7em * 14/13; // different fontsize menu and search
	padding: 4px 4px 4px 18px;
	text-decoration: none;
	//background: $mainbackgroundcolor url(shared-ro/images/sprite-icons-menu-search.png) no-repeat 0 0;
	background: $darkermainbackground url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAWib////rYYWUQAAAAJ0Uk5T/wDltzBKAAAAFUlEQVR42mJgwAoY4QCZSbFagAADAAkGACkXnxklAAAAAElFTkSuQmCC') no-repeat 6px 50%;
	color: $primarylinkcolor;
	font-size: 0.9em;
	line-height: 1.5;
	text-transform: capitalize;
	text-indent:0;
	clip:auto; // overrule the assistive props
	height:auto; // overrule the assistive props
	width:auto; // overrule the assistive props
}


// ACTIVE STATES
#search input[type=submit]:active,
#skip-to-menu:active {
	background-color: #FFF;
}


/* -----------------------------------------------
    MAIN NAVIGATION
   -----------------------------------------------*/

#navigation ul {
	background-color: $mainbackgroundcolor;
}

#navigation li {
	margin: 0 0 2px -10px;
}

#navigation a,
#navigation a:visited {
	display: block;
	padding: 0.4em 10px 0.4em 20px;
	font-family: arial, helvetica, sans-serif;
	font-size: 1.1em;
	text-decoration: none;
	color: $primarylinkcolor;
}

#navigation a:hover,
#navigation a:active,
#navigation .selected a {
	color: $secondarylinkcolor;
}

#navigation .selected a {
	color: #000;
	font-weight: bold;
}


/* -----------------------------------------------
   SITEMAP
   -----------------------------------------------*/

#sitemap {
	clear: left;
	margin: 0 10px 0 0;
	padding: 1px 0 0 10px;
	background-color: $mainbackgroundcolor;
}

#sitemap h2 {
	margin: 0.4em 0;
}

#sitemap .two-columns {
	padding-bottom: 20px;
}

#sitemap .common li ul {
	padding-top: 1px;
}

#sitemap a:visited {
	color: $primarylinkcolor;
}

#sitemap a:visited:hover {
	color: $secondarylinkcolor;
}

#sitemap h2 a:visited {
	color: #000;
}

.sitemap {
	padding: 0 10px;
}

/* -----------------------------------------------
   FOLDED BLOCKS IN MOBILE VIEW
   -----------------------------------------------*/
#sitemap .hide{
	height: 0;
	padding-bottom: 0;
	overflow: hidden;
}
.js #sitemap h2 {
	padding-right: 3em;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAMAAAALbFwWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA////pdmf3QAAAAJ0Uk5T/wDltzBKAAAAKklEQVR42mJg ZGCEAgZGBiCAskEsKA/MhFBQAqoALM0AVw7jMEINAQgwAAllADXUNN/xAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
	background-position: 98% .5em;
	cursor: pointer;
}
.js #sitemap h2 {
	background-position: 95% .5em;
}
.js #sitemap h2.active {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAMAAAALbFwWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA////pdmf3QAAAAJ0Uk5T/wDltzBKAAAAKklEQVR42mJg BAEGBggFYUN4DFA2mMcAZsMIRpgSBga4cqhGKBukCCDAAAnNADW+Td05AAAAAElFTkSuQmCC');
}
.js #sitemap h2 a,
.js #sitemap h2 a:hover {
	text-decoration: none;
	color: #000;
}


/* -----------------------------------------------
    FOOTER NAVIGATION
   -----------------------------------------------*/

#footer {
	background-color: #f0f1f2;
	background-color: #EAEBEE;
	padding-bottom: 20px;
	position: relative;
}

#footer:before {
	content: " ";
	display: block;
	width: 44px;
	height: 22px;
	position: absolute;
	top: -25px; // height + bottom border main content
	left: 50%;
	z-index: 100;
	margin-left: -22px;	
	background-color: $logocolor;
}
#footer h2 {
	margin: 0;
	padding: 1.44em 10px 0.5em;
	color: #4E4E4E;
	font-weight: normal;
	font-size: 1.25em;
	border-bottom: 1px solid #CCC;
}

#footer ul {
	padding: 0 10px;
}

#footer li {
	display: block;
	float: left;
	margin: 0 20px 0 0;
	padding: 0;
}

#footer a,
#footer a:visited {
	display: block;
	padding: 0.2em 0 0.6em;
	color: #4E4E4E;
	font-size: 0.9167em;
	text-decoration: none;
}

#footer a:focus,
#footer a:hover {
	text-decoration: underline;
}

/* GRID */


#footer {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

#footer .column {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

.overview #content {
	clear: both;
	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
}