/* -----------------------------------------------
    NEWS / SPOTLIGHT SPECIFICS
   -----------------------------------------------*/

h1.news {
	color: #01689B;
}
.news {
	margin-bottom: 20px;
}
.common .news {
	margin-bottom:0;
}
.news .article {
	margin: 0;
	padding-top: 0;
}
.news .regulars {
	clear:left;
}
.news .regulars div {
	float: left;
	margin: 0 0 20px;
}
.leaderboard .news,
.leaderboard .other {
	margin-bottom: 0;
}
.news div a {
	margin: 0 0 1em;
}
.news div .visual a {
	margin-bottom: 0;
}
.news .other a {
	margin-bottom: 0;
	padding-left: 18px;
	// zie onderaan voor background
	font-size: 1em;
}
.news .other a:hover,
.news .other a:focus {
	text-decoration: underline;
}
.news .other li {
	margin-bottom: 0;
}
.news .other .more a {
	font-weight: bold;
}

.news .more,
#aside .news .more {
	margin-top: 0;
}

#aside .common .news {
	margin-bottom: 0;
}

.news a:focus,
.news a:hover{
	text-decoration: none;
}

.news a h3 {
	margin-bottom: 0.4em;
	font-size: 1.083em; // Adjust headings to be 13px.
}

.news p,
.spotlight p {
	margin-bottom: 0.4em;
	font-size: 0.9167em;
}

.spotlight a {
	overflow: hidden;
	margin-bottom: 0px;

	&:focus, &:hover{
		text-decoration: none;
	}

	&.external, &.rss-feed {
		background-image: none;
		padding-left:0;
	}
}

.spotlight .common li a {
	//padding-bottom:0; //margin en padding op li
	margin-left:0;
}

/* -------------------------
   NEWS HEADLINE
   ------------------------*/
.news .headline {
	margin: 0 -10px 20px -10px;
	background-color: $mainbackgroundcolor;
}

.news .headline img {
	display: block;
	width: 100%;
	margin-bottom: 0;
}

.spotlight img {
	max-width: 100%;
}

.news .headline div {
	float: none;
	margin: 0;
	padding: 0 10px 10px;
}

.news .headline .visual {
	padding: 0;
}

.news .headline .meta {
	color: #494949;
}

.news .headline h3 {
	margin: 0.5em 0 0.25em;
	font-family: Arial, HelveticaNeue, Helvetica, Univers sans-serif;
	font-size: 1.833em;
	line-height: 1.25;
	//@include force-wrap;
}

.home .headline h3 {
	font-weight: bold;
	line-height: 1.25;
	//@include force-wrap;
}

.news.other .common li {
	margin-bottom: 20px;

	a {
		float: none;
		background: none;
		padding-left: 0;
	}
	
	.meta {
		display: block;
		font: normal 0.9167em/1.5 Verdana, Geneva, sans-serif;
		margin: 0.4em 0 0;
	}
}