/* -----------------------------------------------
    BLOCK LIST OF MINISTERS & SECRETARIES OF STATE
	 Ministers and secretaries of state list on
	departments landing pages
   -----------------------------------------------*/

.article .thumbnail {
	margin-bottom: 20px; 
}

.article .thumbnail div.column {
	padding-left:0;
	margin-bottom:0;
}

.thumbnail li {
	position: relative;
	margin: 0 0 20px;
	padding: 0;
}

.thumbnail a {
	display: block;
	min-height: 56px;
	position: relative;
	padding: 0 0 0 66px;
	background-image: none;

	&.more {
		padding-left:30px;
		min-height:0;

		#aside & {
			margin-top:0;
		}
	}
}

.thumbnail a:focus,
.thumbnail a:hover {
	text-decoration: none;
}

.thumbnail ul {
	margin-bottom: 0;

	@include clear-floats;
}

.spotlight.thumbnail a h3 {
	font-size: 1.083em;
	font-weight: normal;
	margin-top: -0.3em;  // fraaiere uitlijning kop op bovenrand afbeelding */
	//@include force-wrap; // word-break veranderd  alleen lange woorden afbreken niet alle woorden Jira RO-3666
}

.thumbnail a:hover h3,
.thumbnail a:focus h3 {
	text-decoration: underline;
}

.thumbnail p {
	margin-bottom: 0;
}

.thumbnail img {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
}

.thumbnail .meta {
	margin-bottom: 0;
	text-decoration: none;
}

// NOTE FOR IE7 .spotlight.thumbnail div selectors are not correctly handled
.article .spotlight.thumbnail div {
	min-height: 100px;
	position: relative;
	margin-bottom: 30px;
	padding-left: 120px; // Spring alle tekst in voor 'hier sta ik voor' blok
}

.article .spotlight.thumbnail div > a { // Twee selectors, een ter override van spotlight shizzle
	margin-left: -120px; // Haal link in 'hier sta ik voor' terug naar links
}

.article .spotlight.thumbnail ul + ul { // Voor Government lijstje op homepage.
	clear: left;
	margin-top: 20px;
}

.spotlight.thumbnail a {
	min-height: 100px;
	padding: 0 10px 0 120px;

	img{
		width:100px;
	}
}

.spotlight.thumbnail a h3 {
	background-image: none;
	padding-left: 0;
}